/*---------------------------------------------------------------
>>> TABLE OF CONTENTS:
-----------------------------------------------------------------
/*---------------------------------------------------------------
1.0 Reset
---------------------------------------------------------------*/
/*---------------------------------------------------------------
2.0 Header
---------------------------------------------------------------*/
/*---------------------------------------------------------------
3.0 Banner
---------------------------------------------------------------*/
/*---------------------------------------------------------------
4.0 Main 
---------------------------------------------------------------*/
/*---------------------------------------------------------------
5.0 Footer
---------------------------------------------------------------*/
/*---------------------------------------------------------------
6.0 Responsive
---------------------------------------------------------------*/
/*---------------------------------------------------------------
1.0 Reset
---------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,900,900i" rel="stylesheet');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet');
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.0.0/css/bootstrap-slider.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.0.0/css/bootstrap-slider.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
body,
html {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  height: 100%; }

.wrapper {
  min-height: 100%;
  overflow-x: hidden;
  position: relative; }

ul,
ol {
  padding: 0;
  margin-bottom: 0; }

ol {
  margin-left: 1.1em; }

address {
  margin-bottom: 0; }

img {
  height: auto;
  max-width: 100%; }

.center-block {
  float: none; }

/*---------- Heading ----------*/
h1 {
  font-size: 100px;
  text-transform: uppercase;
  font-weight: 400; }

h2, h2 a {
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 400; }
  @media only screen and (max-width: 1499px) {
    h2, h2 a {
      font-size: 30px; } }

h3, h3 a {
  font-size: 30px;
  text-transform: capitalize;
  font-weight: 400;
  letter-spacing: 2px; }
  @media only screen and (max-width: 1499px) {
    h3, h3 a {
      font-size: 24px; } }

h4, h4 a {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 400;
  color: #000000; }
  @media only screen and (max-width: 1499px) {
    h4, h4 a {
      font-size: 19px; } }

h5, h5 a {
  font-size: 18px;
  font-weight: 400; }

h6, h6 a {
  font-size: 16px; }

p {
  font-size: 17px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 29px;
  color: #39373b; }
  @media only screen and (max-width: 1499px) {
    p {
      font-size: 14px;
      line-height: 22px; } }

span {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 10px;
  font-family: "Montserrat", sans-serif;
  white-space: normal;
  word-break: break-all; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl,
blockquote,
pre,
#calendar_wrap caption {
  word-break: break-word;
  word-wrap: break-word; }

/*---------- Form ---------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  font-family: "Montserrat", sans-serif;
  padding: 8px 15px;
  border: 1px solid #ff141f;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  text-transform: uppercase;
  display: inline-block;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 50px;
  line-height: 2.1em;
  background: #ff141f;
  min-width: 147px;
  color: #ffffff; }

button:hover,
button:focus,
button[disabled]:hover,
button[disabled]:focus,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
  border: 1px solid #ff141f;
  -webkit-box-shadow: none;
  box-shadow: none; }

.button:focus,
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
  outline: 0; }

input[type="text"] {
  text-transform: capitalize !important; }

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="number"],
.form-control {
  padding: 2px 20px;
  width: 100%;
  border-radius: 0;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  color: #000000;
  font-size: 18px; }
  @media only screen and (max-width: 1499px) {
    input[type="text"],
    input[type="email"],
    input[type="url"],
    input[type="password"],
    input[type="search"],
    input[type="tel"],
    input[type="number"],
    .form-control {
      font-size: 15px;
      padding: 2px 15px; } }

textarea.form-control {
  padding: 20px;
  resize: none; }
  @media only screen and (max-width: 1499px) {
    textarea.form-control {
      padding: 15px; } }

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="number"] {
  height: 55px; }
  @media only screen and (max-width: 1499px) {
    input[type="text"],
    input[type="email"],
    input[type="url"],
    input[type="password"],
    input[type="search"],
    input[type="tel"],
    input[type="number"] {
      height: 45px; } }

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
textarea.form-control:focus,
.form-control:focus {
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #004e99; }

.slick-slide {
  outline: none; }

.form-control::-webkit-input-placeholder {
  color: #4d4d4d; }

.form-control::-moz-placeholder {
  color: #4d4d4d; }

.form-control:-ms-input-placeholder {
  color: #4d4d4d; }

input:-moz-placeholder {
  color: #4d4d4d; }

select {
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  border: 1px solid #cccccc;
  height: 50px;
  outline: medium none;
  padding: 5px;
  text-indent: 1px;
  text-transform: none;
  width: 100%;
  background: white url("../images/select-arrow.png") no-repeat scroll 80% center; }

select::-ms-expand {
  display: none; }

/*---------- 2.1.3 Links ----------*/
a {
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  font-family: "Montserrat", sans-serif;
  font-weight: 400; }

a:hover,
a:active,
a:focus {
  outline: 0;
  text-decoration: none;
  color: #ff141f; }

/*---------- 2.2 Table -----------*/
table,
th,
td {
  border: 1px solid #eaeaea; }

table {
  width: 100%; }

th,
td {
  padding: 0.4375em; }

table,
dd,
address {
  margin: 0 0 1.75em; }

/*---------------------------------------------------------------
2.0 Header
---------------------------------------------------------------*/
.relative {
  position: relative; }

header {
  background: rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid #e5e5e5; }

.transparent-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99; }

.nav-top-sec {
  width: 100%;
  text-align: right;
  margin: 0 0 32px;
  padding: 0; }
  .nav-top-sec li {
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
    vertical-align: middle; }
    .nav-top-sec li span {
      width: 15px;
      height: 15px;
      display: inline-block; }
    .nav-top-sec li svg {
      height: 100%;
      width: 100%;
      fill: #004e99; }
    .nav-top-sec li input[type="search"] {
      width: 384px;
      height: 42px;
      padding: 0px 50px 0px 15px;
      background: #e7e7e7;
      border-color: #e7e7e7; }
    .nav-top-sec li:first-child {
      margin-right: 40px; }
    .nav-top-sec li form {
      position: relative; }
    .nav-top-sec li .search-submit {
      background: transparent none repeat scroll 0 0;
      border: medium none;
      color: #000000;
      min-width: inherit;
      position: absolute;
      top: 50%;
      right: 0;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); }
      .nav-top-sec li .search-submit:before {
        content: "\f002";
        font-size: 16px;
        font-family: FontAwesome;
        text-align: center;
        right: 0px;
        position: absolute;
        width: 35px;
        -webkit-transition: all 0.3s ease-in-out 0s;
        -o-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s; }
      .nav-top-sec li .search-submit:hover:before {
        background: #ff141f;
        color: #ffffff; }
    .nav-top-sec li a {
      display: inline-block;
      color: #000000;
      text-transform: capitalize; }
      .nav-top-sec li a:hover {
        color: #004e99; }
      .nav-top-sec li a i {
        margin-right: 3px; }

.navbar-collapse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 0; }

.navbar {
  background: transparent;
  border: none;
  min-height: 1px;
  margin: 0;
  border-radius: 0px;
  padding: 10px 0 28px; }

.navbar-brand {
  padding: 0;
  height: auto; }

.navbar > .container .navbar-brand,
.navbar > .container-fluid .navbar-brand {
  margin-left: 0px; }

.navbar-nav > li {
  margin: 0 24px; }
  @media only screen and (max-width: 1499px) {
    .navbar-nav > li {
      margin: 0 10px; } }
  .navbar-nav > li:last-child {
    margin-right: 0px; }

.navbar-nav > li > a {
  padding: 0; }

.navbar .navbar-nav > li.current-menu-item > a,
.navbar .navbar-nav > li.current-menu-parent > a {
  color: #ff141f; }

.navbar .navbar-nav > li > a {
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  -webkit-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  color: #000000;
  display: inline-block; }
  @media only screen and (max-width: 1499px) {
    .navbar .navbar-nav > li > a {
      font-size: 13px; } }

.navbar .navbar-nav > li > a:focus,
.navbar .navbar-nav > li > a:hover {
  color: #ff141f;
  background-color: transparent; }

.navbar-nav .nav-link {
  padding: 0px !important; }

.addToCart svg {
  height: 100%;
  width: 100%;
  fill: #ff141f; }

.addToCart span {
  width: 18px;
  height: 18px;
  display: inline-block;
  vertical-align: middle; }

.addToCart a {
  display: inline-block; }

/*----- Sticky Header -----*/
.fixed-header {
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  opacity: 1;
  visibility: visible;
  z-index: 999;
  position: fixed;
  left: 0;
  right: 0; }
  .fixed-header .nav-top-sec {
    display: none; }
  .fixed-header .navbar {
    padding: 10px 0px; }
  .fixed-header .navbar-brand {
    width: 65%; }

/*---------------------------------------------------------------
3.0 Banner
---------------------------------------------------------------*/
/*------ Home Banner -----*/
.banner-wrapper .carousel-inner .carousel-item {
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  height: 850px;
  padding-top: 136px;
  background-attachment: fixed; }
  @media only screen and (max-width: 1499px) {
    .banner-wrapper .carousel-inner .carousel-item {
      height: 600px; } }

.banner-wrapper .container {
  position: relative;
  height: 100%; }

.banner-wrapper .banner-caption {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
  left: 0;
  right: 0; }
  .banner-wrapper .banner-caption h1 {
    font-size: 60px;
    font-family: "Merriweather", serif;
    font-weight: 600;
    display: block;
    color: #ffffff;
    line-height: 1.2em;
    margin-bottom: 50px; }
    @media only screen and (max-width: 1499px) {
      .banner-wrapper .banner-caption h1 {
        font-size: 45px; } }
    .banner-wrapper .banner-caption h1 span {
      display: block;
      font-size: 100px;
      letter-spacing: 0.1em; }
  .banner-wrapper .banner-caption .view-more a {
    color: #ffffff;
    font-size: 17px;
    background: #ff141f;
    width: 210px;
    line-height: 4em;
    display: inline-block;
    border: 1px solid #ff141f;
    border-radius: 40px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.1em; }
    @media only screen and (max-width: 1499px) {
      .banner-wrapper .banner-caption .view-more a {
        width: 200px;
        font-size: 15px; } }

.banner-wrapper .carousel-indicators {
  bottom: 80px; }
  @media only screen and (max-width: 1499px) {
    .banner-wrapper .carousel-indicators {
      bottom: 50px; } }
  .banner-wrapper .carousel-indicators li {
    height: 10px;
    width: 10px;
    margin: 0 5px; }
    .banner-wrapper .carousel-indicators li.active {
      background: #ff141f; }

.banner-wrapper .carousel-control-next,
.banner-wrapper .carousel-control-prev {
  background: #313130;
  border-radius: 100%;
  opacity: 1;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 50px;
  width: 50px;
  border: 1px solid #313130; }
  .banner-wrapper .carousel-control-next:hover,
  .banner-wrapper .carousel-control-prev:hover {
    -webkit-box-shadow: 0px 0px 4px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 4px 5px rgba(0, 0, 0, 0.5); }

.banner-wrapper .carousel-control-prev {
  left: 5%; }

.banner-wrapper .carousel-control-next {
  right: 5%; }

.banner-wrapper .view-more a:hover::before, .banner-wrapper .view-more a:hover::after {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0); }

/*----- Inner Banner ------*/
.section-block-innerbanner {
  height: 450px;
  padding-top: 150px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative; }
  @media only screen and (max-width: 1499px) {
    .section-block-innerbanner {
      height: 300px; } }
  .section-block-innerbanner .container {
    position: relative;
    height: 100%; }
  .section-block-innerbanner .innerbanner-content {
    text-align: center;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    right: 0;
    color: #ffffff; }
    .section-block-innerbanner .innerbanner-content span {
      color: #ffffff;
      font-size: 50px;
      font-weight: 700; }
      @media only screen and (max-width: 1499px) {
        .section-block-innerbanner .innerbanner-content span {
          font-size: 30px; } }

/*---------------------------------------------------------------
4.0 Main 
---------------------------------------------------------------*/
/*----- Common Section -----*/
svg.hidden {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  visibility: hidden;
  opacity: 0;
  pointer-events: none; }

.section h2 {
  color: #000000;
  margin-bottom: 30px; }
  @media only screen and (max-width: 1499px) {
    .section h2 {
      margin-bottom: 20px; } }
  .section h2 span {
    font-weight: 700;
    font-size: 50px;
    color: #ff141f; }
    @media only screen and (max-width: 1499px) {
      .section h2 span {
        font-size: 30px; } }

.read-more {
  font-size: 17px;
  color: #ff141f;
  font-weight: 400; }
  @media only screen and (max-width: 1499px) {
    .read-more {
      font-size: 14px; } }
  .read-more:hover {
    color: #000000; }

.btn {
  min-width: 190px;
  line-height: 3;
  color: #ffffff;
  display: inline-block;
  text-align: center;
  border-radius: 50px;
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1.5px;
  display: inline-block;
  background: #004e99;
  border: 1px solid #004e99; }
  @media only screen and (max-width: 1499px) {
    .btn {
      font-size: 15px; } }

.read-more-icon {
  display: inline-block;
  background: red;
  height: 40px;
  width: 40px;
  text-align: center;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 20px;
  font-size: 20px;
  padding: 6px;
  border: 1px solid #ff141f; }
  .read-more-icon:hover {
    background: #ffffff; }
    .read-more-icon:hover svg {
      fill: #ff141f; }
  .read-more-icon svg {
    fill: #ffffff; }

.meta-info {
  margin-bottom: 15px; }
  .meta-info span {
    margin-right: 15px;
    font-size: 14px;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    color: #8f8f8f; }
    .meta-info span i {
      margin-right: 6px;
      color: #8f8f8f; }
    .meta-info span a {
      color: #8f8f8f; }
      .meta-info span a:hover {
        color: #ff141f; }
        .meta-info span a:hover i {
          color: #ff141f; }

/*----- Button Hover Effect -----*/
.buttonEffect {
  color: white;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  position: relative;
  overflow: hidden;
  color: #ffffff; }
  .buttonEffect:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.25);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    -webkit-transform: translate(13%, 190%) rotate(-30deg);
    -ms-transform: translate(13%, 190%) rotate(-30deg);
    transform: translate(13%, 190%) rotate(-30deg);
    -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    -o-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1); }
  .buttonEffect:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.25);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    -webkit-transform: translate(-13%, -190%) rotate(-30deg);
    -ms-transform: translate(-13%, -190%) rotate(-30deg);
    transform: translate(-13%, -190%) rotate(-30deg);
    -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    -o-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1); }
  .buttonEffect:hover {
    color: #ffffff; }

.buttonEffect:hover::before,
.buttonEffect:hover::after {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0); }

/*----- Slick Dots -----*/
.slick-dots {
  margin: 28px auto 13px;
  text-align: center;
  width: 100%; }
  .slick-dots li {
    display: inline-block; }
    .slick-dots li button {
      border-radius: 100%;
      background: #ffffff;
      height: 8px;
      min-width: 8px;
      margin: 0 5px;
      padding: 0;
      text-indent: -999999px;
      vertical-align: middle;
      border-color: #ffffff; }
    .slick-dots li.slick-active button {
      background: #ff141f;
      border-color: #ff141f; }

/*----- About Us Section -----*/
.section-block-about {
  padding: 70px 50px 40px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }
  @media only screen and (max-width: 1499px) {
    .section-block-about {
      padding: 40px; } }
  .section-block-about p {
    color: #000000; }
  .section-block-about:before {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    content: "";
    z-index: -1; }
  .section-block-about a.read-more {
    display: inline-block;
    margin-top: 30px; }
    @media only screen and (max-width: 1499px) {
      .section-block-about a.read-more {
        margin-top: 15px; } }

/*----- Equipments Section -----*/
.section-block-equipments {
  padding: 55px 0px 0px; }
  @media only screen and (max-width: 1499px) {
    .section-block-equipments {
      padding: 30px 0px 0px; } }
  .section-block-equipments h2 {
    font-size: 100px;
    display: block; }
    @media only screen and (max-width: 1499px) {
      .section-block-equipments h2 {
        font-size: 70px; } }
    .section-block-equipments h2 span {
      font-size: 100px;
      display: block; }
      @media only screen and (max-width: 1499px) {
        .section-block-equipments h2 span {
          font-size: 60px; } }
  .section-block-equipments .read-more-btn {
    margin-top: 45px; }

/*----- Product Category -----*/
.section-block-productCategory {
  padding: 100px 0px; }
  @media only screen and (max-width: 1499px) {
    .section-block-productCategory {
      padding: 60px 0px; } }
  .section-block-productCategory h2 {
    display: block; }
  .section-block-productCategory span {
    display: block; }
  .section-block-productCategory .featured-thumb {
    height: 325px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; }
    @media only screen and (max-width: 1499px) {
      .section-block-productCategory .featured-thumb {
        padding: 60px 0px;
        height: 260px; } }
  .section-block-productCategory .content-sec {
    background: #fff5f5;
    padding: 20px;
    position: relative; }
    .section-block-productCategory .content-sec h4 {
      display: inline-block;
      margin-bottom: 0px; }
      .section-block-productCategory .content-sec h4 a:hover {
        color: #ff141f; }
  .section-block-productCategory .grid-item {
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; }
    .section-block-productCategory .grid-item:hover {
      -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
      transform: translateY(-10px);
      -webkit-box-shadow: 4px 4px 6px 3px rgba(0, 0, 0, 0.2);
      box-shadow: 4px 4px 6px 3px rgba(0, 0, 0, 0.2); }

/*----- News Section -----*/
.section-block-news {
  background: #fafafa;
  position: relative; }
  .section-block-news .grid-element {
    margin-bottom: 10px;
    background: #ffffff;
    position: relative; }
  .section-block-news .featured-thumb {
    height: 532px;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin-top: 0;
    position: absolute;
    bottom: 0;
    left: 15px;
    z-index: 11;
    right: 15px; }
    @media only screen and (max-width: 1499px) {
      .section-block-news .featured-thumb {
        height: 400px; } }
  .section-block-news .date-sec {
    background: #004e99;
    text-align: center;
    padding: 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0; }
    .section-block-news .date-sec span {
      color: #ffffff;
      display: block;
      font-size: 20px;
      line-height: 30px;
      font-weight: 300; }
      .section-block-news .date-sec span:first-child {
        font-size: 72px;
        line-height: 1em; }
        @media only screen and (max-width: 1499px) {
          .section-block-news .date-sec span:first-child {
            font-size: 55px; } }
    .section-block-news .date-sec .date-info {
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); }
  .section-block-news .info-sec {
    padding: 15px 15px 15px 150px; }
    .section-block-news .info-sec p {
      margin-bottom: 0px; }
      .section-block-news .info-sec p a {
        margin-left: 10px; }
    .section-block-news .info-sec h4 a:hover {
      color: #ff141f; }
  .section-block-news .section-element-news {
    padding: 60px 0px; }
    @media only screen and (max-width: 1499px) {
      .section-block-news .section-element-news {
        padding: 40px 0px; } }

/*----- Blog Section -----*/
.section-block-blog {
  padding: 60px 0px; }
  @media only screen and (max-width: 1499px) {
    .section-block-blog {
      padding: 40px 0px 20px; } }
  .section-block-blog h2 {
    margin-bottom: 50px; }
    @media only screen and (max-width: 1499px) {
      .section-block-blog h2 {
        margin-bottom: 30px; } }
  .section-block-blog .featured-thumb {
    height: 500px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; }
    @media only screen and (max-width: 1499px) {
      .section-block-blog .featured-thumb {
        height: 420px; } }
  .section-block-blog span {
    color: #7a7a7a;
    font-size: 18px;
    margin-bottom: 10px;
    display: block;
    font-weight: 300; }
  .section-block-blog .read-more-btn {
    margin-top: 30px;
    min-width: 235px; }
  .section-block-blog .blog-content {
    padding: 20px; }
    .section-block-blog .blog-content p a {
      margin-left: 10px; }

/*----- Gallery Section -----*/
.section-block-gallery {
  padding: 20px 0px 80px;
  overflow: hidden; }
  .section-block-gallery h2 {
    margin-bottom: 50px; }
  .section-block-gallery .gallery-sec {
    height: auto;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 10px;
    padding-bottom: 25%;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s; }
    .section-block-gallery .gallery-sec:hover {
      -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
      transform: translateY(-10px); }
  .section-block-gallery:hover .slick-arrow {
    opacity: 1; }
  .section-block-gallery:hover .slick-prev.slick-arrow {
    -webkit-transform: translateX(-55px);
    -ms-transform: translateX(-55px);
    transform: translateX(-55px); }
  .section-block-gallery:hover .slick-next.slick-arrow {
    -webkit-transform: translateX(55px);
    -ms-transform: translateX(55px);
    transform: translateX(55px); }
  .section-block-gallery .slick-arrow {
    position: absolute;
    top: 45%;
    z-index: 9;
    font-size: 20px;
    background: #d9d9d9;
    border-radius: 100%;
    height: 45px;
    width: 45px;
    padding: 8px;
    text-align: center;
    cursor: pointer;
    opacity: 0; }
    .section-block-gallery .slick-arrow i {
      color: #ffffff; }
  .section-block-gallery .slick-prev.slick-arrow {
    left: -20px; }
  .section-block-gallery .slick-next.slick-arrow {
    right: -20px; }

/*------------------- About Us Page -------------------*/
/*----- About Us Section ------*/
.section-block-aboutSec .section-element-aboutSec {
  padding: 70px 0px; }
  @media only screen and (max-width: 1499px) {
    .section-block-aboutSec .section-element-aboutSec {
      padding: 50px 0px; } }
  .section-block-aboutSec .section-element-aboutSec .sec-order {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2; }
  .section-block-aboutSec .section-element-aboutSec .sec-content {
    padding-right: 60px; }
  .section-block-aboutSec .section-element-aboutSec:nth-child(even) {
    background: #f7f7f7; }
  .section-block-aboutSec .section-element-aboutSec .progress-sec {
    margin-bottom: 40px; }
    @media only screen and (max-width: 1499px) {
      .section-block-aboutSec .section-element-aboutSec .progress-sec {
        margin-bottom: 20px; } }
    .section-block-aboutSec .section-element-aboutSec .progress-sec h5 {
      font-weight: 500; }
    .section-block-aboutSec .section-element-aboutSec .progress-sec span {
      margin-left: 15px;
      font-size: 22px;
      color: #000000; }
      @media only screen and (max-width: 1499px) {
        .section-block-aboutSec .section-element-aboutSec .progress-sec span {
          font-size: 18px; } }
  .section-block-aboutSec .section-element-aboutSec .progress {
    width: 600px;
    height: 35px;
    border: 1px solid #dadada;
    padding: 1px;
    border-radius: 4px;
    background: #ffffff;
    float: left; }
    @media only screen and (max-width: 1499px) {
      .section-block-aboutSec .section-element-aboutSec .progress {
        width: 475px;
        height: 24px; } }
    .section-block-aboutSec .section-element-aboutSec .progress .progress-bar {
      border-radius: 4px; }
  .section-block-aboutSec .section-element-aboutSec .progressSecOne .progress-bar {
    background: -webkit-gradient(linear, left top, left bottom, from(#c0ea3c), to(#ade025));
    background: -webkit-linear-gradient(#c0ea3c, #ade025);
    background: -o-linear-gradient(#c0ea3c, #ade025);
    background: linear-gradient(#c0ea3c, #ade025); }
  .section-block-aboutSec .section-element-aboutSec .progressSecTwo .progress-bar {
    background: -webkit-gradient(linear, left top, left bottom, from(#fdde21), to(#f2ca2a));
    background: -webkit-linear-gradient(#fdde21, #f2ca2a);
    background: -o-linear-gradient(#fdde21, #f2ca2a);
    background: linear-gradient(#fdde21, #f2ca2a); }
  .section-block-aboutSec .section-element-aboutSec .progressSecThree .progress-bar {
    background: -webkit-gradient(linear, left top, left bottom, from(#f27091), to(#e84b5f));
    background: -webkit-linear-gradient(#f27091, #e84b5f);
    background: -o-linear-gradient(#f27091, #e84b5f);
    background: linear-gradient(#f27091, #e84b5f); }
  .section-block-aboutSec .section-element-aboutSec .progressSecFour .progress-bar {
    background: -webkit-gradient(linear, left top, left bottom, from(#1abce9), to(#009fe0));
    background: -webkit-linear-gradient(#1abce9, #009fe0);
    background: -o-linear-gradient(#1abce9, #009fe0);
    background: linear-gradient(#1abce9, #009fe0); }
  .section-block-aboutSec .section-element-aboutSec .progressbarsec {
    padding-left: 50px; }

/*----- Testimonial Section -----*/
.section-block-testimonial {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 60px 0px;
  text-align: center; }
  @media only screen and (max-width: 1499px) {
    .section-block-testimonial {
      padding: 40px 0px; } }
  .section-block-testimonial h2 {
    color: #ffffff;
    margin-bottom: 60px; }
    @media only screen and (max-width: 1499px) {
      .section-block-testimonial h2 {
        margin-bottom: 20px; } }
  .section-block-testimonial .section-element-testimonial h3 {
    color: #ffffff;
    margin-bottom: 30px; }
  .section-block-testimonial .section-element-testimonial p {
    color: #ffffff;
    width: 64%;
    margin: 0 auto;
    margin-bottom: 20px; }
  .section-block-testimonial .section-element-testimonial span {
    color: #ffffff; }

/*------------------- Blog Page -------------------*/
/*----- Blog Grid Section -----*/
.section-block-blogGrid {
  padding: 60px 0px; }
  @media only screen and (max-width: 1499px) {
    .section-block-blogGrid {
      padding: 40px 0px; } }
  .section-block-blogGrid .blog-grid {
    border: 1px solid #e2e2e2;
    padding: 40px;
    margin-bottom: 30px; }
    @media only screen and (max-width: 1499px) {
      .section-block-blogGrid .blog-grid {
        padding: 20px; } }
    .section-block-blogGrid .blog-grid:last-child {
      margin-bottom: 0px; }
    .section-block-blogGrid .blog-grid .featured-thumb {
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      height: 350px;
      margin-bottom: 30px; }
      @media only screen and (max-width: 1499px) {
        .section-block-blogGrid .blog-grid .featured-thumb {
          margin-bottom: 20px; } }
    .section-block-blogGrid .blog-grid h4 {
      margin-bottom: 12px; }
      .section-block-blogGrid .blog-grid h4 a {
        text-transform: capitalize; }
    .section-block-blogGrid .blog-grid .read-more {
      position: relative;
      display: inline-block;
      vertical-align: middle; }
      .section-block-blogGrid .blog-grid .read-more:hover:after {
        top: 0%;
        opacity: 1; }
      .section-block-blogGrid .blog-grid .read-more:hover:after, .section-block-blogGrid .blog-grid .read-more:hover:before {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        background: #000000; }
      .section-block-blogGrid .blog-grid .read-more:before {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 1px;
        background: #ff141f;
        content: '';
        -webkit-transition: -webkit-transform 0.3s;
        -moz-transition: -moz-transform 0.3s;
        transition: -webkit-transform 0.3s;
        -o-transition: transform 0.3s;
        transition: transform 0.3s;
        transition: transform 0.3s, -webkit-transform 0.3s;
        -webkit-transform: scale(0.85);
        -moz-transform: scale(0.85);
        -ms-transform: scale(0.85);
        transform: scale(0.85); }
      .section-block-blogGrid .blog-grid .read-more:after {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 1px;
        background: #ff141f;
        content: '';
        -webkit-transition: -webkit-transform 0.3s;
        -moz-transition: -moz-transform 0.3s;
        transition: -webkit-transform 0.3s;
        -o-transition: transform 0.3s;
        transition: transform 0.3s;
        transition: transform 0.3s, -webkit-transform 0.3s;
        -webkit-transform: scale(0.85);
        -moz-transform: scale(0.85);
        -ms-transform: scale(0.85);
        transform: scale(0.85); }
  .section-block-blogGrid.blogSingle .blog-grid {
    margin-bottom: 60px; }
    @media only screen and (max-width: 1499px) {
      .section-block-blogGrid.blogSingle .blog-grid {
        margin-bottom: 30px; } }
    .section-block-blogGrid.blogSingle .blog-grid h4 {
      text-transform: capitalize; }
  .section-block-blogGrid.blogSingle .leave-reply-form h4 {
    text-transform: capitalize;
    margin-bottom: 25px; }
  .section-block-blogGrid.blogSingle .leave-reply-form textarea.form-control {
    margin: 10px 0px 20px; }
    @media only screen and (max-width: 1499px) {
      .section-block-blogGrid.blogSingle .leave-reply-form textarea.form-control {
        margin: 8px 0px 10px; } }
  .section-block-blogGrid.blogSingle .leave-reply-form .button {
    min-width: 250px;
    margin-bottom: 40px;
    line-height: 2.5; }
    @media only screen and (max-width: 1499px) {
      .section-block-blogGrid.blogSingle .leave-reply-form .button {
        min-width: 220px; } }

/*------------------- Sidebar Section -------------------*/
.section-element-sideBar {
  padding-left: 30px; }
  @media only screen and (max-width: 1499px) {
    .section-element-sideBar {
      padding-left: 15px; } }
  .section-element-sideBar .search-form {
    margin-bottom: 50px; }
    @media only screen and (max-width: 1499px) {
      .section-element-sideBar .search-form {
        margin-bottom: 30px; } }
    .section-element-sideBar .search-form input[type="search"] {
      padding: 0px 80px 0px 30px;
      background: transparent;
      border-color: #e2e2e2; }
      @media only screen and (max-width: 1499px) {
        .section-element-sideBar .search-form input[type="search"] {
          padding: 0px 80px 0px 20px; } }
    .section-element-sideBar .search-form form {
      position: relative; }
    .section-element-sideBar .search-form .search-submit {
      background: transparent none repeat scroll 0 0;
      border: medium none;
      color: #ff141f;
      min-width: inherit;
      position: absolute;
      top: 50%;
      right: 0px;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      line-height: 2.5;
      width: 60px;
      border-radius: 0px;
      padding: 0px; }
      .section-element-sideBar .search-form .search-submit:before {
        content: "\f002";
        font-size: 15px;
        font-family: FontAwesome; }
      .section-element-sideBar .search-form .search-submit:hover {
        background: #ff141f;
        color: #ffffff; }
  .section-element-sideBar h4 {
    margin-bottom: 25px;
    text-transform: capitalize;
    font-weight: 500; }
  .section-element-sideBar .recent-post-grid {
    overflow: hidden;
    border-bottom: 1px solid #e2e2e2;
    margin-bottom: 20px;
    padding-bottom: 20px;
    height: 115px;
    position: relative; }
    .section-element-sideBar .recent-post-grid:last-child {
      border-bottom: none; }
    .section-element-sideBar .recent-post-grid .featured-thumb {
      height: 94px;
      width: 93px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      position: absolute;
      left: 0;
      right: 0;
      top: 0; }
      @media only screen and (max-width: 1499px) {
        .section-element-sideBar .recent-post-grid .featured-thumb {
          height: 80px;
          margin-right: 15px; } }
    .section-element-sideBar .recent-post-grid .content-sec {
      padding-left: 115px;
      width: 100%; }
      .section-element-sideBar .recent-post-grid .content-sec .meta-info {
        margin-bottom: 10px; }
        @media only screen and (max-width: 1499px) {
          .section-element-sideBar .recent-post-grid .content-sec .meta-info {
            margin-bottom: 5px; } }
      .section-element-sideBar .recent-post-grid .content-sec h5 a {
        color: #000000;
        font-size: 17px;
        font-weight: 500; }
        @media only screen and (max-width: 1499px) {
          .section-element-sideBar .recent-post-grid .content-sec h5 a {
            font-size: 14px;
            line-height: 20px; } }
        .section-element-sideBar .recent-post-grid .content-sec h5 a:hover {
          color: #ff141f; }

/*----------------------- Faq Section --------------------------*/
.status-tab-wrap {
  padding: 70px 0px; }
  @media only screen and (max-width: 1499px) {
    .status-tab-wrap {
      padding: 50px 0px; } }
  .status-tab-wrap .panel-default {
    border: 1px solid #e2e2e2;
    margin-bottom: 20px; }
    @media only screen and (max-width: 1499px) {
      .status-tab-wrap .panel-default {
        margin-bottom: 10px; } }
    .status-tab-wrap .panel-default .panel-heading {
      position: relative; }
      .status-tab-wrap .panel-default .panel-heading h5 {
        margin-bottom: 0px;
        padding: 15px 60px 15px 20px; }
        .status-tab-wrap .panel-default .panel-heading h5 i {
          position: absolute;
          right: 15px;
          bottom: 0;
          top: 50%;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
          background: #ff141f;
          height: 35px;
          width: 35px;
          border-radius: 100%;
          padding: 10px;
          text-align: center;
          color: #ffffff; }
          @media only screen and (max-width: 1499px) {
            .status-tab-wrap .panel-default .panel-heading h5 i {
              height: 30px;
              width: 30px;
              padding: 7px; } }
        .status-tab-wrap .panel-default .panel-heading h5 a {
          color: #000000;
          display: inline-block;
          font-size: 20px; }
          @media only screen and (max-width: 1499px) {
            .status-tab-wrap .panel-default .panel-heading h5 a {
              font-size: 17px; } }
          .status-tab-wrap .panel-default .panel-heading h5 a:hover {
            color: #ff141f; }
    .status-tab-wrap .panel-default .panel-body {
      padding: 5px 20px; }
    .status-tab-wrap .panel-default:last-child {
      margin-bottom: 0px; }

/*---------------------Contactt Us Section ----------------------*/
.section-block-contactUs {
  padding: 70px 0px; }
  .section-block-contactUs h2 {
    font-size: 35px; }
    @media only screen and (max-width: 1499px) {
      .section-block-contactUs h2 {
        font-size: 25px; } }
  .section-block-contactUs .contact-info {
    margin-bottom: 50px; }
    @media only screen and (max-width: 1499px) {
      .section-block-contactUs .contact-info {
        margin-bottom: 35px; } }
    .section-block-contactUs .contact-info h4 {
      font-size: 22px;
      font-weight: 500;
      text-transform: capitalize;
      margin-bottom: 20px; }
      @media only screen and (max-width: 1499px) {
        .section-block-contactUs .contact-info h4 {
          font-size: 18px; } }
    .section-block-contactUs .contact-info li {
      list-style: none;
      position: relative;
      margin-bottom: 20px; }
      .section-block-contactUs .contact-info li span {
        color: #000000; }
        .section-block-contactUs .contact-info li span:first-child {
          width: 18px;
          margin-right: 20px;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          display: inline-block; }
          .section-block-contactUs .contact-info li span:first-child svg {
            height: 100%;
            width: 100%;
            fill: #ff141f; }
      .section-block-contactUs .contact-info li span:nth-child(2),
      .section-block-contactUs .contact-info li a {
        padding-left: 30px;
        color: #000000;
        display: inline-block;
        font-size: 17px; }
        @media only screen and (max-width: 1499px) {
          .section-block-contactUs .contact-info li span:nth-child(2),
          .section-block-contactUs .contact-info li a {
            font-size: 15px; } }
      .section-block-contactUs .contact-info li a:hover {
        color: #ff141f; }
  .section-block-contactUs .section-element-contactUs {
    padding-left: 20px; }
    @media only screen and (max-width: 1499px) {
      .section-block-contactUs .section-element-contactUs {
        padding-left: 10px; } }
  .section-block-contactUs .section-element-leaveComment form .button {
    margin-bottom: 20px; }
  .section-block-contactUs .section-element-leaveComment form .codesec input {
    width: 44%;
    display: inline-block; }
  .section-block-contactUs .section-element-leaveComment form .codesec span {
    display: inline-block; }
  .section-block-contactUs .section-element-leaveComment form .uploadtextfield input[type="file"] {
    opacity: 0;
    position: relative;
    left: -90px; }
  .section-block-contactUs .section-element-leaveComment form .uploadtextfield span {
    font-size: 14px;
    display: block;
    margin-left: 20px; }
    .section-block-contactUs .section-element-leaveComment form .uploadtextfield span.btn-file {
      color: #4d4d4d;
      font-size: 16px;
      margin-left: 0px; }
      .section-block-contactUs .section-element-leaveComment form .uploadtextfield span.btn-file:before {
        content: "\f0c6";
        font-family: FontAwesome;
        margin-right: 6px; }
  .section-block-contactUs .map-marker-section {
    width: 600px;
    height: 370px; }
    .section-block-contactUs .map-marker-section iframe {
      display: block;
      height: 100%;
      width: 100%; }

/*------------------------- Login Signup Section --------------------------*/
.section-block-login-signup {
  padding: 70px 0px; }
  @media only screen and (max-width: 1499px) {
    .section-block-login-signup {
      padding: 50px 0px; } }
  .section-block-login-signup .dealer-acc {
    margin-bottom: 30px; }
    .section-block-login-signup .dealer-acc h2 {
      font-size: 35px; }
      @media only screen and (max-width: 1499px) {
        .section-block-login-signup .dealer-acc h2 {
          font-size: 25px; } }
    .section-block-login-signup .dealer-acc p {
      margin-bottom: 0px;
      color: #000000; }
  .section-block-login-signup .login-form-wrap {
    overflow: hidden; }
    .section-block-login-signup .login-form-wrap .form-sec {
      background: #fafafa;
      padding: 40px 25px;
      float: left;
      width: 450px; }
      .section-block-login-signup .login-form-wrap .form-sec:first-child {
        margin-right: 50px; }
      .section-block-login-signup .login-form-wrap .form-sec h4 {
        margin-bottom: 12px;
        font-weight: 500; }
      .section-block-login-signup .login-form-wrap .form-sec .button {
        margin-top: 15px;
        min-width: 155px; }
    .section-block-login-signup .login-form-wrap .remember-sec .forgot-pass {
      float: right;
      color: #000000;
      position: relative;
      font-size: 16px; }
      .section-block-login-signup .login-form-wrap .remember-sec .forgot-pass:after {
        content: "";
        background: #000000;
        position: absolute;
        bottom: 3px;
        left: 0;
        right: 0;
        width: 100%;
        height: 1px; }
      .section-block-login-signup .login-form-wrap .remember-sec .forgot-pass:hover {
        color: #ff141f; }
        .section-block-login-signup .login-form-wrap .remember-sec .forgot-pass:hover:after {
          background: #ff141f; }

/*------------- Portfolio List ---------------*/
#filters {
  margin: 40px 0px 50px;
  margin: 40px 0px 50px;
  text-align: center; }
  @media only screen and (max-width: 1499px) {
    #filters {
      margin-top: 30px; } }
  #filters li {
    list-style: none;
    display: inline-block;
    margin: 0 15px;
    position: relative;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer; }
    #filters li span {
      font-size: 25px;
      color: #000000;
      font-weight: 500;
      cursor: pointer; }
      @media only screen and (max-width: 1499px) {
        #filters li span {
          font-size: 18px; } }
    #filters li .active:after {
      content: "";
      background: #ff141f;
      height: 2px;
      width: 100%;
      position: absolute;
      left: 0;
      right: 0;
      bottom: -7px;
      text-align: center;
      margin: 0 auto;
      -webkit-transition: all 0.3s ease-in-out 0s;
      -o-transition: all 0.3s ease-in-out 0s;
      transition: all 0.3s ease-in-out 0s; }
    #filters li:hover:after {
      content: "";
      background: #ff141f;
      height: 2px;
      width: 100%;
      position: absolute;
      left: 0;
      right: 0;
      bottom: -7px;
      text-align: center;
      margin: 0 auto; }

#portfoliolist .portfolio {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  display: none; }

#portfoliolist .gallery-grid-sec {
  position: relative;
  margin-bottom: 30px;
  height: 300px;
  background-repeat: no-repeat;
  background-position: cover;
  background-size: center; }
  @media only screen and (max-width: 1499px) {
    #portfoliolist .gallery-grid-sec {
      height: 220px; } }
  #portfoliolist .gallery-grid-sec a {
    display: inline-block; }
  #portfoliolist .gallery-grid-sec .gallery-grid-content {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer; }
    #portfoliolist .gallery-grid-sec .gallery-grid-content .overlay-holder {
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      position: absolute;
      text-align: center;
      left: 0;
      right: 0; }
    #portfoliolist .gallery-grid-sec .gallery-grid-content a {
      display: inline-block; }
    #portfoliolist .gallery-grid-sec .gallery-grid-content h3 {
      position: relative;
      display: inline-block;
      -webkit-transform: translateY(-50px);
      -ms-transform: translateY(-50px);
      transform: translateY(-50px);
      -webkit-transition: all 0.3s ease-in-out 0s;
      -o-transition: all 0.3s ease-in-out 0s;
      transition: all 0.3s ease-in-out 0s; }
      #portfoliolist .gallery-grid-sec .gallery-grid-content h3 a {
        color: #ffffff;
        font-size: 30px;
        text-transform: lowercase; }
        @media only screen and (max-width: 1499px) {
          #portfoliolist .gallery-grid-sec .gallery-grid-content h3 a {
            font-size: 20px; } }
        #portfoliolist .gallery-grid-sec .gallery-grid-content h3 a:hover {
          color: #ff141f; }
      #portfoliolist .gallery-grid-sec .gallery-grid-content h3:after {
        content: "";
        background: #ff141f;
        height: 3px;
        width: 30%;
        position: absolute;
        left: 0;
        right: 0;
        bottom: -18px;
        text-align: center;
        margin: 0 auto; }
  #portfoliolist .gallery-grid-sec:hover .gallery-grid-content {
    opacity: 1; }
  #portfoliolist .gallery-grid-sec:hover h3 {
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px); }

/*----- Customize Your Product ------*/
.section-block-CustomizeProduct {
  padding: 50px 0px 70px; }
  .section-block-CustomizeProduct h2 {
    text-align: center;
    margin-bottom: 60px;
    font-weight: 500; }
  .section-block-CustomizeProduct .choose-wrap {
    background: #f9f9f9;
    text-align: center;
    padding: 80px;
    position: relative; }
    .section-block-CustomizeProduct .choose-wrap li {
      list-style: none;
      margin-bottom: 50px; }
      .section-block-CustomizeProduct .choose-wrap li:last-child {
        margin-bottom: 0px; }
      @media only screen and (max-width: 1499px) {
        .section-block-CustomizeProduct .choose-wrap li {
          margin-bottom: 30px; } }
    .section-block-CustomizeProduct .choose-wrap span {
      background: #004e99;
      color: #ffffff;
      display: inline-block;
      width: 120px;
      line-height: 2.4em;
      font-size: 24px;
      text-transform: uppercase;
      font-weight: 400;
      position: absolute;
      left: 20px;
      top: -25px; }
      @media only screen and (max-width: 1499px) {
        .section-block-CustomizeProduct .choose-wrap span {
          font-size: 18px; } }
    .section-block-CustomizeProduct .choose-wrap h3 {
      margin-bottom: 60px;
      font-weight: 500; }
  .section-block-CustomizeProduct .choose-tab {
    padding-left: 35px; }
    .section-block-CustomizeProduct .choose-tab ul {
      margin-bottom: 30px;
      border-bottom: none; }
      .section-block-CustomizeProduct .choose-tab ul li {
        margin-right: 15px;
        cursor: pointer;
        display: inline-block; }
        .section-block-CustomizeProduct .choose-tab ul li:last-child {
          margin-right: 0px; }
        @media only screen and (max-width: 1499px) {
          .section-block-CustomizeProduct .choose-tab ul li {
            margin-right: 9px; } }
        .section-block-CustomizeProduct .choose-tab ul li a {
          padding: 0px;
          border-radius: 0px;
          border: none;
          width: 125px;
          text-align: center;
          background: #f2f2f2;
          font-size: 18px;
          color: #000000;
          line-height: 2.5em;
          display: inline-block; }
          .section-block-CustomizeProduct .choose-tab ul li a.active, .section-block-CustomizeProduct .choose-tab ul li a:hover {
            background: #ff141f;
            color: #ffffff; }
          @media only screen and (max-width: 1499px) {
            .section-block-CustomizeProduct .choose-tab ul li a {
              width: 95px;
              font-size: 16px; } }
        .section-block-CustomizeProduct .choose-tab ul li:first-child {
          display: none; }
        .section-block-CustomizeProduct .choose-tab ul li:last-child a {
          background: #004e99;
          color: #ffffff; }
          .section-block-CustomizeProduct .choose-tab ul li:last-child a:after {
            content: "\f105";
            font-family: FontAwesome;
            margin-left: 10px; }
    .section-block-CustomizeProduct .choose-tab .tab-pane {
      background: #f9f9f9;
      padding: 30px; }
      .section-block-CustomizeProduct .choose-tab .tab-pane p, .section-block-CustomizeProduct .choose-tab .tab-pane span {
        color: #000000; }
      .section-block-CustomizeProduct .choose-tab .tab-pane h5 {
        font-size: 20px; }
        @media only screen and (max-width: 1499px) {
          .section-block-CustomizeProduct .choose-tab .tab-pane h5 {
            font-size: 16px; } }
      .section-block-CustomizeProduct .choose-tab .tab-pane span {
        margin-bottom: 20px;
        display: inline-block; }
      .section-block-CustomizeProduct .choose-tab .tab-pane li {
        list-style: none; }
      .section-block-CustomizeProduct .choose-tab .tab-pane form {
        margin-left: 22px; }
        .section-block-CustomizeProduct .choose-tab .tab-pane form .form-check label {
          padding-left: 0px; }

/*----- Shop Section -----*/
.section-element-product {
  padding-right: 25px; }

.section-block-Shop {
  padding: 60px 0px; }
  @media only screen and (max-width: 1499px) {
    .section-block-Shop {
      padding: 40px 0px; } }
  .section-block-Shop h2 {
    margin-bottom: 60px;
    text-align: center; }
    @media only screen and (max-width: 1499px) {
      .section-block-Shop h2 {
        margin-bottom: 30px; } }
  .section-block-Shop .product-gallery {
    text-align: center;
    margin-bottom: 50px;
    border: 1px solid #e2e2e2; }
    .section-block-Shop .product-gallery:hover .featured-thumb a {
      opacity: 1; }
    .section-block-Shop .product-gallery .featured-thumb {
      height: 293px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      position: relative;
      cursor: pointer; }
      @media only screen and (max-width: 1499px) {
        .section-block-Shop .product-gallery .featured-thumb {
          height: 240px; } }
      .section-block-Shop .product-gallery .featured-thumb a {
        display: inline-block;
        position: absolute;
        right: 15px;
        top: 10px;
        font-size: 20px;
        color: #ffffff;
        opacity: 0; }
    .section-block-Shop .product-gallery .product-content {
      padding: 30px 10px; }
      .section-block-Shop .product-gallery .product-content h5 {
        margin-bottom: 30px;
        display: block; }
        @media only screen and (max-width: 1499px) {
          .section-block-Shop .product-gallery .product-content h5 {
            margin-bottom: 20px; } }
        .section-block-Shop .product-gallery .product-content h5 a {
          font-size: 21px;
          color: #000000;
          font-weight: 500; }
          @media only screen and (max-width: 1499px) {
            .section-block-Shop .product-gallery .product-content h5 a {
              font-size: 15px; } }
          .section-block-Shop .product-gallery .product-content h5 a:hover {
            color: #ff141f; }
      .section-block-Shop .product-gallery .product-content .shopbtn {
        background: #727272;
        line-height: 3em;
        border-radius: 50px;
        min-width: 200px;
        display: inline-block;
        border-color: #727272;
        font-size: 16px;
        color: #ffffff;
        text-align: center;
        text-transform: uppercase; }
        @media only screen and (max-width: 1499px) {
          .section-block-Shop .product-gallery .product-content .shopbtn {
            font-size: 14px;
            min-width: 180px; } }
        .section-block-Shop .product-gallery .product-content .shopbtn:hover {
          background: #ff141f;
          border-color: #ff141f; }

/*----- Product Gallery List -----*/
.gallery-list .product-gallery {
  position: relative;
  margin-bottom: 25px; }
  .gallery-list .product-gallery .featured-thumb {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 300px;
    height: auto; }
  .gallery-list .product-gallery .product-content {
    text-align: left;
    padding: 30px 30px 30px 330px; }
    .gallery-list .product-gallery .product-content p {
      display: block;
      margin-bottom: 30px; }

/*----- Sort Section -----*/
.product-top-bar {
  border-top: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
  margin-bottom: 20px;
  padding: 10px 0px;
  overflow: hidden;
  position: relative; }
  .product-top-bar .sort-wrap {
    display: inline-block; }
  .product-top-bar .pagination-wrap {
    display: inline-block;
    text-align: right;
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }

.sort-wrap .sort-sec {
  display: inline-block;
  margin-right: 20px;
  vertical-align: middle; }
  .sort-wrap .sort-sec form .form-group {
    margin-bottom: 0px; }
  .sort-wrap .sort-sec form label {
    display: inline-block;
    margin-right: 10px;
    font-weight: 500; }
  .sort-wrap .sort-sec form select.form-control {
    width: 125px;
    display: inline-block;
    padding: 0px 10px;
    background-image: url(../images/select-arrow1.png);
    background-position: 88% center;
    background-repeat: no-repeat;
    font-size: 14px; }

.sort-wrap .list-grid {
  display: inline-block;
  vertical-align: middle; }
  .sort-wrap .list-grid li a {
    background: #ff141f;
    color: #ffffff;
    display: inline-block;
    width: 35px;
    height: 35px;
    text-align: center;
    font-size: 20px;
    padding: 3px;
    border: 1px solid #ff141f; }
    .sort-wrap .list-grid li a:hover {
      background: #ffffff;
      color: #ff141f; }

/*----- Pagination Section -----*/
.pagination-wrap {
  text-align: center;
  margin: 0 auto; }
  .pagination-wrap .view-sec {
    display: inline-block;
    margin-right: 20px;
    vertical-align: middle; }
    .pagination-wrap .view-sec form .form-group {
      margin-bottom: 0px; }
    .pagination-wrap .view-sec form label {
      display: inline-block;
      margin-right: 10px;
      font-weight: 500;
      margin-bottom: 0px; }
    .pagination-wrap .view-sec form select.form-control {
      width: 65px;
      height: 34px;
      display: inline-block;
      padding: 0px 10px;
      background-image: url(../images/select-arrow.png);
      background-position: 80% center;
      background-repeat: no-repeat;
      font-size: 14px;
      color: #575757; }
  .pagination-wrap .pagination-sec {
    display: inline-block;
    vertical-align: middle; }
    .pagination-wrap .pagination-sec li a {
      border: 1px solid #e2e2e2;
      height: 25px;
      width: 25px;
      display: inline-block;
      text-align: center;
      border-radius: 4px;
      color: #000000; }
      .pagination-wrap .pagination-sec li a.prev, .pagination-wrap .pagination-sec li a.next {
        color: #ff141f; }
      .pagination-wrap .pagination-sec li a:hover {
        background: #ff141f;
        color: #ffffff; }

/*------ Shop Sidebar -----*/
.section-element-productSidebar .border {
  border: 1px solid #e2e2e2;
  margin-bottom: 25px; }
  .section-element-productSidebar .border h5 {
    text-transform: uppercase;
    font-weight: 500; }

.section-element-productSidebar .categories-wrap.border {
  padding-top: 20px; }

.section-element-productSidebar .categories-wrap h5 {
  padding: 0 20px;
  margin-bottom: 20px; }

.section-element-productSidebar .categories-wrap li {
  display: block;
  border-bottom: 1px solid #e2e2e2; }
  .section-element-productSidebar .categories-wrap li a {
    color: #000000;
    font-size: 15px;
    text-transform: capitalize;
    display: block;
    position: relative;
    color: #252525;
    padding: 8px 20px; }
    .section-element-productSidebar .categories-wrap li a:after {
      content: "\f105";
      font-family: FontAwesome;
      position: absolute;
      right: 20px;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); }
    .section-element-productSidebar .categories-wrap li a:hover {
      color: #ff141f;
      padding-left: 10px; }
  .section-element-productSidebar .categories-wrap li:last-child {
    border-bottom: none; }

.section-element-productSidebar .filter-price-wrap.border,
.section-element-productSidebar .filter-color-wrap.border {
  padding: 20px; }

.section-element-productSidebar .filter-price-wrap {
  overflow: hidden; }
  .section-element-productSidebar .filter-price-wrap .tooltip.top.in {
    opacity: 1; }
  .section-element-productSidebar .filter-price-wrap h5 {
    margin-bottom: 15px; }
  .section-element-productSidebar .filter-price-wrap a {
    display: inline-block;
    font-size: 16px;
    color: #ffffff;
    background: #727272;
    line-height: 3em;
    min-width: 100%;
    text-align: center;
    border-radius: 50px;
    text-transform: uppercase; }
    .section-element-productSidebar .filter-price-wrap a:hover {
      background: #ff141f; }
  .section-element-productSidebar .filter-price-wrap form {
    margin-bottom: 15px; }
    .section-element-productSidebar .filter-price-wrap form .slider {
      width: 100%; }
      .section-element-productSidebar .filter-price-wrap form .slider .slider-track {
        background: #ff141f;
        opacity: 0.2;
        height: 8px;
        border-radius: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        width: 100%; }
        .section-element-productSidebar .filter-price-wrap form .slider .slider-track .slider-selection {
          background: #e0e0e0; }
      .section-element-productSidebar .filter-price-wrap form .slider .slider-handle {
        background: #ff141f;
        height: 14px;
        width: 14px;
        top: 2px; }
    .section-element-productSidebar .filter-price-wrap form .value {
      overflow: hidden; }
      .section-element-productSidebar .filter-price-wrap form .value b {
        font-weight: 500;
        font-size: 18px;
        display: inline-block;
        float: left;
        width: 50%; }
        .section-element-productSidebar .filter-price-wrap form .value b:first-child {
          text-align: left; }
        .section-element-productSidebar .filter-price-wrap form .value b:nth-child(2) {
          text-align: right; }

.section-element-productSidebar .reset-all-filter a {
  display: inline-block;
  background: #ff141f;
  color: #ffffff;
  font-size: 16px;
  line-height: 3.2em;
  min-width: 100%;
  text-align: center;
  border-radius: 50px;
  text-transform: uppercase;
  border: 1px solid #ff141f; }
  .section-element-productSidebar .reset-all-filter a:hover {
    background: #ffffff;
    color: #ff141f; }

.section-element-productSidebar .filter-color-wrap .color-wrap {
  margin-bottom: 30px; }

.section-element-productSidebar .filter-color-wrap h5 {
  margin-bottom: 15px; }

.section-element-productSidebar .filter-color-wrap select.form-control {
  width: 100%;
  display: inline-block;
  padding: 0px 10px;
  background-image: url(../images/select-arrow2.png);
  background-position: 100% center;
  background-repeat: no-repeat;
  height: 48px;
  font-size: 16px; }
  @media only screen and (max-width: 1499px) {
    .section-element-productSidebar .filter-color-wrap select.form-control {
      height: 45px; } }

/*----- Shop Detail -----*/
.section-shopSingle {
  padding: 70px 0px; }
  @media only screen and (max-width: 1499px) {
    .section-shopSingle {
      padding: 50px 0px; } }
  .section-shopSingle .product-gallerey {
    padding-right: 50px; }
    .section-shopSingle .product-gallerey .pad-left {
      padding-left: 10px; }
    .section-shopSingle .product-gallerey .carousel-indicators {
      display: block;
      bottom: inherit;
      top: 0; }
      .section-shopSingle .product-gallerey .carousel-indicators li {
        width: 100%;
        height: 100%;
        margin-bottom: 15px;
        text-indent: inherit;
        border: 1px solid transparent;
        margin-left: 0px; }
        .section-shopSingle .product-gallerey .carousel-indicators li a {
          display: block; }
        .section-shopSingle .product-gallerey .carousel-indicators li .featured-thumb {
          background-repeat: no-repeat;
          background-position: center center;
          background-size: cover;
          height: 105px; }
          @media only screen and (max-width: 1499px) {
            .section-shopSingle .product-gallerey .carousel-indicators li .featured-thumb {
              height: 76px; } }
        .section-shopSingle .product-gallerey .carousel-indicators li.active {
          border-color: #ff141f; }
        .section-shopSingle .product-gallerey .carousel-indicators li:last-child {
          margin-bottom: 0px; }
    .section-shopSingle .product-gallerey .carousel-item img {
      width: 100%; }
  .section-shopSingle .product-content h3 {
    font-size: 38px;
    font-weight: 500;
    margin-bottom: 20px; }
    @media only screen and (max-width: 1499px) {
      .section-shopSingle .product-content h3 {
        font-size: 30px;
        margin-bottom: 10px; } }
  .section-shopSingle .product-content p {
    margin-bottom: 20px; }
  .section-shopSingle .product-content ul {
    margin-bottom: 30px; }
  .section-shopSingle .product-content li {
    margin-right: 30px; }
    .section-shopSingle .product-content li:last-child {
      margin-right: 0px; }
    .section-shopSingle .product-content li .form-group {
      margin-bottom: 0px; }
  .section-shopSingle .product-content .spinner {
    width: 115px; }
    .section-shopSingle .product-content .spinner input {
      text-align: center;
      height: 40px; }
  .section-shopSingle .product-content .input-group-btn-vertical > .btn {
    display: block;
    float: none;
    width: 30px;
    max-width: 30px;
    min-width: 30px;
    height: 20px;
    text-align: center;
    position: relative;
    border-radius: 0;
    background: #ff141f;
    border-color: #e2e2e2; }
    .section-shopSingle .product-content .input-group-btn-vertical > .btn:hover, .section-shopSingle .product-content .input-group-btn-vertical > .btn:focus {
      -webkit-box-shadow: none;
      box-shadow: none;
      border: none;
      border: 1px solid #e2e2e2; }
  .section-shopSingle .product-content .input-group-btn-vertical i {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    right: 0;
    font-size: 10px; }
  .section-shopSingle .product-content select {
    width: 115px;
    padding: 0px 10px;
    font-size: 14px;
    padding: 0px 10px;
    background-image: url(../images/select-arrow.png);
    background-position: 88% center;
    background-repeat: no-repeat;
    color: #575757; }
  .section-shopSingle .product-content .add-Tocart {
    background: #ff141f;
    border-color: #ff141f;
    min-width: 220px;
    line-height: 2.2em;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 30px; }
  .section-shopSingle .product-content span {
    font-size: 15px;
    color: #000000;
    font-weight: 500;
    display: block;
    margin-bottom: 30px; }
  .section-shopSingle .row:first-child {
    margin-bottom: 50px; }
  .section-shopSingle .input-group-btn-vertical {
    position: relative;
    white-space: nowrap;
    width: 30px;
    vertical-align: middle;
    display: table-cell; }

/*------ Product Tab -----*/
.product-tab {
  margin-bottom: 50px; }
  @media only screen and (max-width: 1499px) {
    .product-tab {
      margin-bottom: 35px; } }
  .product-tab .nav {
    background: #727272;
    overflow: hidden; }
    .product-tab .nav li a {
      border-radius: 0px;
      border: none;
      padding: 0px 30px;
      font-size: 20px;
      line-height: 3em;
      color: #ffffff; }
      .product-tab .nav li a.active, .product-tab .nav li a:hover {
        background: #ff141f;
        color: #ffffff; }
      @media only screen and (max-width: 1499px) {
        .product-tab .nav li a {
          font-size: 16px; } }
  .product-tab .tab-content {
    background: #f5f5f5;
    padding: 45px 30px;
    margin-bottom: 40px; }
    @media only screen and (max-width: 1499px) {
      .product-tab .tab-content {
        padding: 30px; } }
    .product-tab .tab-content h5 {
      font-size: 20px;
      font-weight: 500; }
      @media only screen and (max-width: 1499px) {
        .product-tab .tab-content h5 {
          font-size: 16px; } }
    .product-tab .tab-content p {
      width: 85%;
      margin-bottom: 20px; }
      @media only screen and (max-width: 1499px) {
        .product-tab .tab-content p {
          font-size: 13px; } }
    .product-tab .tab-content .table {
      width: 50%;
      background: #ffffff;
      margin-bottom: 0px;
      border: 1px solid #e2e2e2; }
      .product-tab .tab-content .table thead tr th {
        width: 40%;
        padding: 10px 30px;
        border-left: none;
        border-top: none;
        border-bottom: 1px solid #e2e2e2;
        border-right: 1px solid #e2e2e2;
        font-weight: 500;
        font-size: 18px;
        font-family: "Montserrat", sans-serif;
        color: #000000; }
      .product-tab .tab-content .table tbody {
        padding: 20px 0px; }
        .product-tab .tab-content .table tbody tr td {
          padding: 5px 30px;
          border: none;
          border-left: none;
          border-top: none;
          border-bottom: none;
          border-right: 1px solid #e2e2e2;
          color: #000000;
          font-weight: 500;
          font-size: 15px;
          font-family: "Montserrat", sans-serif; }

/*----- Related Product ------*/
.product-gallery-wrap {
  position: relative; }
  .product-gallery-wrap .slick-arrow {
    position: absolute;
    top: -65px;
    right: 0;
    background: #727272;
    height: 40px;
    width: 40px;
    border-radius: 4px;
    text-align: center;
    display: inline-block;
    padding: 7px;
    cursor: pointer; }
    @media only screen and (max-width: 1499px) {
      .product-gallery-wrap .slick-arrow {
        height: 30px;
        width: 30px;
        padding: 3px;
        top: -50px; } }
    .product-gallery-wrap .slick-arrow.slick-prev {
      right: 50px !important; }
      @media only screen and (max-width: 1499px) {
        .product-gallery-wrap .slick-arrow.slick-prev {
          right: 40px !important; } }
    .product-gallery-wrap .slick-arrow i {
      color: #ffffff;
      font-size: 15px; }
    .product-gallery-wrap .slick-arrow.slick-disabled, .product-gallery-wrap .slick-arrow:hover {
      background: #ff141f; }
  .product-gallery-wrap h3 {
    display: inline-block; }

.related-product h3 {
  font-weight: 500; }

.related-product .product-gallery {
  text-align: center;
  border: 1px solid #e2e2e2;
  margin-right: 20px; }
  .related-product .product-gallery:hover .featured-thumb a {
    opacity: 1; }
  .related-product .product-gallery .featured-thumb {
    height: 293px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    cursor: pointer; }
    @media only screen and (max-width: 1499px) {
      .related-product .product-gallery .featured-thumb {
        height: 240px; } }
    .related-product .product-gallery .featured-thumb a {
      display: inline-block;
      position: absolute;
      right: 15px;
      top: 10px;
      font-size: 20px;
      color: #ffffff;
      opacity: 0; }
  .related-product .product-gallery .product-content {
    padding: 30px 10px; }
    .related-product .product-gallery .product-content h5 {
      margin-bottom: 30px;
      display: block; }
      @media only screen and (max-width: 1499px) {
        .related-product .product-gallery .product-content h5 {
          margin-bottom: 20px; } }
      .related-product .product-gallery .product-content h5 a {
        font-size: 21px;
        color: #000000;
        font-weight: 500; }
        @media only screen and (max-width: 1499px) {
          .related-product .product-gallery .product-content h5 a {
            font-size: 15px; } }
        .related-product .product-gallery .product-content h5 a:hover {
          color: #ff141f; }
    .related-product .product-gallery .product-content .shopbtn {
      background: #727272;
      line-height: 3em;
      border-radius: 50px;
      min-width: 200px;
      display: inline-block;
      border-color: #727272;
      font-size: 16px;
      color: #ffffff;
      text-align: center;
      text-transform: uppercase; }
      @media only screen and (max-width: 1499px) {
        .related-product .product-gallery .product-content .shopbtn {
          font-size: 14px;
          min-width: 180px; } }
      .related-product .product-gallery .product-content .shopbtn:hover {
        background: #ff141f;
        border-color: #ff141f; }

/*---------------------------------------------------------------
5.0 Footer
---------------------------------------------------------------*/
.footer-wrapper .footer {
  float: left; }
  .footer-wrapper .footer h5 {
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 40px; }
    @media only screen and (max-width: 1499px) {
      .footer-wrapper .footer h5 {
        margin-bottom: 30px; } }

.footer-wrapper .column-1 {
  width: 22%;
  margin-right: 70px; }
  @media only screen and (max-width: 1499px) {
    .footer-wrapper .column-1 {
      margin-right: 30px; } }
  .footer-wrapper .column-1 a {
    display: inline-block;
    margin-bottom: 30px; }
  .footer-wrapper .column-1 p {
    color: #c3c3c3; }
    @media only screen and (max-width: 1499px) {
      .footer-wrapper .column-1 p {
        font-size: 13px; } }

.footer-wrapper .column-2 {
  width: 21%;
  margin-right: 40px; }
  .footer-wrapper .column-2 .contact-sec {
    margin-bottom: 35px;
    position: relative; }
    .footer-wrapper .column-2 .contact-sec span {
      color: #c3c3c3;
      display: inline-block;
      font-weight: 300;
      vertical-align: middle;
      font-size: 15px; }
      .footer-wrapper .column-2 .contact-sec span:first-child {
        width: 22px;
        height: 22px;
        margin-right: 20px;
        position: absolute;
        left: 0;
        top: 0;
        vertical-align: middle; }
      .footer-wrapper .column-2 .contact-sec span:nth-child(2) {
        padding-left: 40px; }
    .footer-wrapper .column-2 .contact-sec a {
      color: #c3c3c3;
      padding-left: 40px;
      vertical-align: middle;
      font-size: 15px; }
      .footer-wrapper .column-2 .contact-sec a:hover {
        color: #ff141f; }
    .footer-wrapper .column-2 .contact-sec svg {
      height: 100%;
      width: 100%;
      fill: #ff141f; }
  .footer-wrapper .column-2 .sec-two span:first-child {
    width: 20px; }
  .footer-wrapper .column-2 .sec-third span:first-child {
    width: 18px; }

.footer-wrapper .column-3 {
  width: 20%; }
  .footer-wrapper .column-3 ul li {
    list-style: none;
    margin-bottom: 10px;
    position: relative; }
    .footer-wrapper .column-3 ul li a {
      color: #c3c3c3;
      font-weight: 300;
      padding-left: 20px;
      font-size: 15px; }
      .footer-wrapper .column-3 ul li a:hover {
        color: #ff141f; }
    .footer-wrapper .column-3 ul li:before {
      content: "\f105";
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      left: 0;
      font-family: FontAwesome;
      color: #ff141f;
      font-size: 20px; }

.footer-wrapper .column-4 {
  width: 29%;
  position: relative; }
  .footer-wrapper .column-4 form {
    position: relative;
    margin-bottom: 150px; }
    .footer-wrapper .column-4 form input[type="email"] {
      background: transparent;
      border: 1px solid #c3c3c3;
      height: 55px;
      min-width: 100%;
      border-radius: 50px;
      padding: 0px 155px 0px 30px;
      color: #ffffff; }
      @media only screen and (max-width: 1499px) {
        .footer-wrapper .column-4 form input[type="email"] {
          height: 45px;
          padding: 0px 112px 0px 20px; } }
    .footer-wrapper .column-4 form button {
      position: absolute;
      top: 0;
      right: 0;
      background: #004e99;
      border-color: #004e99; }
      @media only screen and (max-width: 1499px) {
        .footer-wrapper .column-4 form button {
          font-size: 13px;
          min-width: 110px; } }
    .footer-wrapper .column-4 form .form-control::-webkit-input-placeholder {
      color: #c3c3c3; }
    .footer-wrapper .column-4 form .form-control::-moz-placeholder {
      color: #c3c3c3; }
    .footer-wrapper .column-4 form .form-control:-ms-input-placeholder {
      color: #c3c3c3; }
    .footer-wrapper .column-4 form input:-moz-placeholder {
      color: #c3c3c3; }
  .footer-wrapper .column-4 .social-share {
    float: right; }
    .footer-wrapper .column-4 .social-share li {
      list-style: none;
      margin-right: 15px; }
      .footer-wrapper .column-4 .social-share li:last-child {
        margin-right: 0px; }
      .footer-wrapper .column-4 .social-share li a {
        color: #c3c3c3;
        font-size: 25px; }
        .footer-wrapper .column-4 .social-share li a:hover {
          color: #ff141f; }

.footer-wrapper .footer-top {
  padding: 80px 0px 20px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  overflow: hidden; }

.footer-wrapper .footer-bottom {
  background: #2e3336;
  padding: 20px 0px; }
  .footer-wrapper .footer-bottom span {
    font-size: 15px;
    color: #bfbfbf;
    font-weight: 300;
    letter-spacing: 1px; }
    .footer-wrapper .footer-bottom span a {
      color: #0a85b8; }
      .footer-wrapper .footer-bottom span a:hover {
        color: #ff141f; }

/*---------------------------------------------------------------
6.0 Responsive
---------------------------------------------------------------*/
@media only screen and (min-width: 1500px) {
  .container {
    max-width: 1470px; } }
