/*---------------------------------------------------------------
3.0 Banner
---------------------------------------------------------------*/

/*------ Home Banner -----*/

.banner-wrapper {
    .carousel-inner {
        .carousel-item {
            @include background(top center, cover);
            height: 850px;
            padding-top: 136px;
            background-attachment: fixed;
            @include breakpoint(x-normal) {
               height: 600px;
            }
        }
    }
    .container {
        position: relative;
        height: 100%;
    }
    .banner-caption {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
        left: 0;
        right: 0;
        h1 {
            font-size: 60px;
            font-family: $font-family;
            font-weight: $font-weight-semibold;
            display: block;
            color: $color-white;
            line-height: 1.2em;
            margin-bottom: 50px;
            @include breakpoint(x-normal) {
               font-size: 45px;
            }
            span {
                display: block;
                font-size: 100px;
                letter-spacing: 0.1em;
            }
        }
        .view-more {
            a {
                color: $color-white;
                font-size: 17px;
                background: $color-red;
                width: 210px;
                line-height: 4em;
                display: inline-block;
                border: 1px solid $color-red;
                border-radius: 40px;
                font-family: $font-family-montserrat;
                font-weight: 600;
                text-transform: $text-uppercase;
                letter-spacing: 0.1em;
                @include breakpoint(x-normal) {
                    width: 200px;
                    font-size: 15px;
                }
            }
        }
    }
    .carousel-indicators {
        bottom: 80px;
        @include breakpoint(x-normal) {
            bottom: 50px;
        }
        li {
            height: 10px;
            width: 10px;
            margin: 0 5px;
            &.active {
                background: $color-red;
            }
        }
    }
    .carousel-control-next,
    .carousel-control-prev {
        background: #313130;
        border-radius: 100%;
        opacity: 1;
        top: 50%;
        transform: translateY(-50%);
        height: 50px;
        width: 50px;
        border: 1px solid #313130;
        &:hover {
            box-shadow: 0px 0px 4px 5px rgba(0, 0, 0, 0.5);
        }
    }
    .carousel-control-prev {
        left: 5%;
    }
    .carousel-control-next {
        right: 5%;
    }
    .view-more a:hover::before, .view-more a:hover::after {
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
    }
}

/*----- Inner Banner ------*/

.section-block-innerbanner {
    height: 450px;
    padding-top: 150px;
    @include  background(center center, cover);
    position: relative;
    @include breakpoint(x-normal) {
       height: 300px;
    }
    .container {
        position: relative;
        height: 100%;
    }
    .innerbanner-content {
        text-align: center;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        right: 0;
        color: $color-white;
        span {
            color: $color-white;
            font-size: 50px;
            font-weight: $font-weight-bold;
            @include breakpoint(x-normal) {
               font-size: 30px;
            }
        }
    }
}