/*---------------------------------------------------------------
5.0 Footer
---------------------------------------------------------------*/

.footer-wrapper {
    .footer {
        float: left;
        h5 {
            text-transform: $text-uppercase;
            color: $color-white;
            margin-bottom: 40px;
             @include breakpoint(x-normal) {
               margin-bottom: 30px;
            }
        }
    }
    .column-1 {
        width: 22%;
        margin-right: 70px;
        @include breakpoint(x-normal) {
           margin-right: 30px;
        }
        a {
            display: inline-block;
            margin-bottom: 30px;
        }
        p {
            color: $footer-text-clr;
            @include breakpoint(x-normal) {
               font-size: 13px;
            }
        }
    }
    .column-2 {
        width: 21%;
        margin-right: 40px;
        .contact-sec {
            margin-bottom: 35px;
            position: relative;
            span {
                &:first-child {
                    width: 22px;
                    height: 22px;
                    margin-right: 20px;
                    position: absolute;
                    left: 0;
                    top: 0;
                    vertical-align: middle;
                }
                &:nth-child(2) {
                    padding-left: 40px;
                }
                color: $footer-text-clr;
                display: inline-block;
                font-weight: 300;
                vertical-align: middle;
                font-size: 15px;
            }
            a {
                color: $footer-text-clr;
                padding-left: 40px;
                vertical-align: middle;
                font-size: 15px;
                &:hover {
                    color: $color-red;
                }
            }
            svg {
                height: 100%;
                width: 100%;
                fill: $color-red;
            }
        }
        .sec-two span:first-child {
            width: 20px;
        }
        .sec-third span:first-child {
            width: 18px;
        }
    }
    .column-3 {
        width: 20%;
        ul {
            li {
                list-style: none;
                margin-bottom: 10px;
                position: relative;
                a {
                    color: $footer-text-clr;
                    font-weight: $font-weight-light;
                    padding-left: 20px;
                    font-size: 15px;
                    &:hover {
                        color: $color-red;
                    }
                }
                &:before {
                    content: "\f105";
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 0;
                    font-family: FontAwesome;
                    color: $color-red;
                    font-size: 20px;
                }
            }
        }
    }
    .column-4 {
        width: 29%;
        position: relative;
        form {
            position: relative;
            margin-bottom: 150px;
            input[type="email"] {
                background: transparent;
                border: 1px solid $footer-text-clr;
                height: 55px;
                min-width: 100%;
                border-radius: 50px;
                padding: 0px 155px 0px 30px;
                color: $color-white;
                @include breakpoint(x-normal) {
                     height: 45px;
                     padding: 0px 112px 0px 20px;
                }
            }
            button {
                position: absolute;
                top: 0;
                right: 0;
                background: $color-blue;
                border-color: $color-blue;
                @include breakpoint(x-normal) {
                    font-size: 13px;
                    min-width: 110px;
                }
            }
            .form-control::-webkit-input-placeholder {
                color: $footer-text-clr;
            }
            .form-control::-moz-placeholder {
                color: $footer-text-clr;
            }
            .form-control:-ms-input-placeholder {
                color: $footer-text-clr;
            }
            input:-moz-placeholder {
                color: $footer-text-clr;
            }
        }
        .social-share {
            float: right;
            li {
                list-style: none;
                margin-right: 15px;
                &:last-child {
                    margin-right: 0px;
                }
                a {
                    color: $footer-text-clr;
                    font-size: 25px;
                    &:hover {
                        color: $color-red;
                    }
                }
            }
        }
    }
    .footer-top {
        padding: 80px 0px 20px;
        @include background(center center, cover);
        overflow: hidden;
    }
    .footer-bottom {
        background: $dark-grey;
        padding: 20px 0px;
        span {
            font-size: 15px;
            color: #bfbfbf;
            font-weight: $font-weight-light;
            letter-spacing: 1px;
            a {
                color: #0a85b8;
                &:hover {
                    color: $color-red;
                }
            }
        }
    }
}