/*---------------------------------------------------------------
2.0 Header
---------------------------------------------------------------*/
.relative {
    position: relative;
}

header {
    background: rgba(255, 255, 255, 0.8);
    border-bottom: 1px solid #e5e5e5;
}

.transparent-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
}

.nav-top-sec {
    width: 100%;
    text-align: right;
    margin: 0 0 32px;
    padding: 0;
    li {
        display: inline-block;
        vertical-align: top;
        margin-left: 20px;
        vertical-align: middle;
        span {
            width: 15px;
            height: 15px;
            display: inline-block;
        }
        svg {
            height: 100%;
            width: 100%;
            fill: $color-blue;
        }
        input[type="search"] {
            width: 384px;
            height: 42px;
            padding: 0px 50px 0px 15px;
            background: #e7e7e7;
            border-color: #e7e7e7;
        }
        &:first-child {
            margin-right: 40px;
        }
        form {
            position: relative;
        }
        .search-submit {
            background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
            border: medium none;
            color: $black;
            min-width: inherit;
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            &:before {
                content: "\f002";
                font-size: 16px;
                font-family: FontAwesome;
                text-align: center;
                right: 0px;
                position: absolute;
                width: 35px;
                transition: all 0.3s ease-in-out 0s;
            }
            &:hover {
                &:before {
                    background: $color-red;
                    color: $color-white;
                }
            }
        }
        a {
            display: inline-block;
            color: $black;
            text-transform: $text-capitalize;
            &:hover {
                color: $color-blue;
            }
            i {
                margin-right: 3px;
            }
        }
    }
}

.navbar-collapse {
    flex-direction: column;
    padding: 0;
}

.navbar {
    background: transparent;
    border: none;
    min-height: 1px;
    margin: 0;
    border-radius: 0px;
    padding: 10px 0 28px;
}

.navbar-brand {
    padding: 0;
    height: auto;
}

.navbar>.container .navbar-brand,
.navbar>.container-fluid .navbar-brand {
    margin-left: 0px;
}

.navbar-nav {
    >li {
        margin: 0 24px;
        @include breakpoint(x-normal) {
            margin: 0 10px;
        }
        &:last-child {
            margin-right: 0px;
        }
    }
}

.navbar-nav>li>a {
    padding: 0;
}

.navbar .navbar-nav > li.current-menu-item > a, 
.navbar .navbar-nav > li.current-menu-parent > a {
    color: $color-red;
}

.navbar .navbar-nav >li >a {
    color: #000;
    font-family: $font-family-montserrat;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    color: $black;
    display: inline-block;
    @include breakpoint(x-normal) {
        font-size: 13px;
    }
}

.navbar .navbar-nav >li >a:focus,
.navbar .navbar-nav >li >a:hover {
    color: $color-red;
    background-color: transparent;
}

.navbar-nav .nav-link {
    padding: 0px !important;
}

.addToCart {
    svg {
        height: 100%;
        width: 100%;
        fill: $color-red;
    }
    span {
        width: 18px;
        height: 18px;
        display: inline-block;
        vertical-align: middle;
    }
    a {
        display: inline-block;
    }
}

/*----- Sticky Header -----*/

.fixed-header {
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  opacity: 1;
  visibility: visible;
  z-index: 999;
  position: fixed;
  left: 0;
  right: 0;
    .nav-top-sec {
        display: none;
    }
    .navbar {
        padding: 10px 0px;
    }
    .navbar-brand {
        width: 65%;
    }
}