/*---------------------------------------------------------------
4.0 Main 
---------------------------------------------------------------*/

/*----- Common Section -----*/

svg.hidden {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.section {
    h2 {
        color: $black;
        margin-bottom: 30px;
        @include breakpoint(x-normal) {
           margin-bottom: 20px;
        }
        span {
            font-weight: $font-weight-bold;
            font-size: 50px;
            color: $color-red;
             @include breakpoint(x-normal) {
               font-size: 30px;
            }
        }
    }
}

.read-more {
    font-size: 17px;
    color: $color-red;
    font-weight: $font-weight-regular;
    @include breakpoint(x-normal) {
       font-size: 14px;
    }
    &:hover {
        color: $black;
    }
}

.btn {
    min-width: 190px;
    line-height: 3;
    color: $color-white;
    display: inline-block;
    text-align: center;
    border-radius: 50px;
    font-size: 17px;
    text-transform: $text-uppercase;
    font-weight: 600;
    letter-spacing: 1.5px;
    display: inline-block;
    background: $color-blue;
    border: 1px solid $color-blue;

    @include breakpoint(x-normal) {
      font-size: 15px;
    }
}

.read-more-icon {
    display: inline-block;
    background: red;
    height: 40px;
    width: 40px;
    text-align: center;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    font-size: 20px;
    padding: 6px;
    border: 1px solid $color-red;
    &:hover {
        background: $color-white;
        svg {
            fill: $color-red;
        }
    }
    svg {
        fill: $color-white;
    }
}

.meta-info {
    margin-bottom: 15px;
    span {
        margin-right: 15px;
        font-size: 14px;
        transition: all 0.3s ease-in-out 0s;
        color: #8f8f8f;
        i {
            margin-right: 6px;
            color: #8f8f8f;
        }
        a {
            color: #8f8f8f;
            &:hover {
                color: $color-red;
                i {
                    color: $color-red;
                }
            }
        }
    }
}

/*----- Button Hover Effect -----*/

.buttonEffect {
    color: rgba(255,255,255,1);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    position: relative;
    overflow: hidden;
    color: $color-white;
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background-color: rgba(255,255,255,0.25);
        -webkit-transition: all 0.3s ease-in-out 0s;
        -moz-transition: all 0.3s ease-in-out 0s;
        -o-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
        -webkit-transform: translate(13%,190%) rotate(-30deg);
        transform: translate(13%,190%) rotate(-30deg);
        -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
        transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    }
    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background-color: rgba(255,255,255,0.25);
        -webkit-transition: all 0.3s ease-in-out 0s;
        -moz-transition: all 0.3s ease-in-out 0s;
        -o-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
        -webkit-transform: translate(-13%,-190%) rotate(-30deg);
        transform: translate(-13%,-190%) rotate(-30deg);
        -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
        transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    }
    &:hover {
        color: $color-white;
    }
}
.buttonEffect:hover::before, 
.buttonEffect:hover::after {
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
}

/*----- Slick Dots -----*/

.slick-dots {
    margin: 28px auto 13px;
    text-align: center;
    width: 100%;
    li {
        display: inline-block;
        button {
            border-radius: 100%;
            background: $color-white;
            height: 8px;
            min-width: 8px;
            margin: 0 5px;
            padding: 0;
            text-indent: -999999px;
            vertical-align: middle;
            border-color: $color-white;
        }
        &.slick-active {
            button {
                background: $color-red;
                border-color: $color-red;
            }
        }
    }
}

/*----- About Us Section -----*/

.section-block-about {
    padding: 70px 50px 40px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    @include background(center center, cover);
     @include breakpoint(x-normal) {
        padding: 40px;
    }
    p {
        color: $black;
    }
    &:before {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        content: "";
        z-index: -1;
    }
    a.read-more {
        display: inline-block;
        margin-top: 30px;
        @include breakpoint(x-normal) {
           margin-top: 15px;
        }
    }
}


/*----- Equipments Section -----*/

.section-block-equipments {
    padding: 55px 0px 0px;
    @include breakpoint(x-normal) {
       padding: 30px 0px 0px;
    }
    h2 {
        font-size: 100px;
        display: block;
        @include breakpoint(x-normal) {
           font-size: 70px;
        }
        span {
            font-size: 100px;
            display: block;
            @include breakpoint(x-normal) {
               font-size: 60px;
            }
        }
    }
    .read-more-btn {
        margin-top: 45px;
    }
}


/*----- Product Category -----*/

.section-block-productCategory {
    padding: 100px 0px;
    @include breakpoint(x-normal) {
      padding: 60px 0px;
    }
    h2 {
        display: block;
    }
    span {
        display: block;
    }
    .featured-thumb {
        height: 325px;
        @include background(center center, cover);
        @include breakpoint(x-normal) {
          padding: 60px 0px;
            height: 260px;
        }
    }
    .content-sec {
        background: #fff5f5;
        padding: 20px;
        position: relative;
        h4 {
            display: inline-block;
            margin-bottom: 0px;
            a {
                &:hover {
                    color: $color-red;
                }
            }
        }
    }
    .grid-item {
        transition: all 0.5s ease-in-out;
        &:hover {
            transform: translateY(-10px);
            box-shadow: 4px 4px 6px 3px rgba(0, 0, 0, 0.2);
        }
    }
}


/*----- News Section -----*/

.section-block-news {
    background: #fafafa;
    position: relative;
    .grid-element {
        margin-bottom: 10px;
        background: $color-white;
        position: relative;
    }
    .featured-thumb {
        height: 532px;
        background-position: center;
        background-size: 100%;
        @include background(center center, cover);
        margin-top: 0;
        position: absolute;
        bottom: 0;
        left: 15px;
        z-index: 11;
        right: 15px;
        @include breakpoint(x-normal) {
          height: 400px;
        }
    }
    .date-sec {
        background: $color-blue;
        text-align: center;
        padding: 20px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        span {
            color: $color-white;
            display: block;
            font-size: 20px;
            line-height: 30px;
            font-weight: $font-weight-light;
            &:first-child {
                font-size: 72px;
                line-height: 1em;
                @include breakpoint(x-normal) {
                   font-size: 55px;
                }
            }
        }
        .date-info {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    .info-sec {
        padding: 15px 15px 15px 150px;
        p {
            margin-bottom: 0px;
            a {
                margin-left: 10px;
            }
        }
        h4 {
            a {
                &:hover {
                    color: $color-red;
                }
            }
        }
    }
    .section-element-news {
        padding: 60px 0px;
        @include breakpoint(x-normal) {
           padding: 40px 0px;
        }
    }
}


/*----- Blog Section -----*/

.section-block-blog {
    padding: 60px 0px;
    @include breakpoint(x-normal) {
       padding: 40px 0px 20px;
    }
    h2 {
        margin-bottom: 50px;
        @include breakpoint(x-normal) {
           margin-bottom: 30px;
        }
    }
    .featured-thumb {
        height: 500px;
        @include background(center center, cover);
        @include breakpoint(x-normal) {
           height: 420px;
        }
    }
    span {
        color: #7a7a7a;
        font-size: 18px;
        margin-bottom: 10px;
        display: block;
        font-weight: $font-weight-light;
    }
    .read-more-btn {
        margin-top: 30px;
        min-width: 235px;
    }
    .blog-content {
        padding: 20px;
        p {
            a {
                margin-left: 10px;
            }
        }
    }
}


/*----- Gallery Section -----*/

.section-block-gallery {
    padding: 20px 0px 80px;
    overflow: hidden;
    h2 {
        margin-bottom: 50px;
    }
    .gallery-sec {
        height: auto;
        @include background(center center, cover);
        margin: 10px;
        padding-bottom: 25%;
        transition: all 0.3s ease-in-out 0s;
        &:hover {
            transform: translateY(-10px);
        }
    }
    &:hover {
        .slick-arrow {
            opacity: 1;
        }
        .slick-prev.slick-arrow {
            transform: translateX(-55px);
        }
        .slick-next.slick-arrow {
            transform: translateX(55px);
        }
    }
    .slick-arrow {
        position: absolute;
        top: 45%;
        z-index: 9;
        font-size: 20px;
        background: #d9d9d9;
        border-radius: 100%;
        height: 45px;
        width: 45px;
        padding: 8px;
        text-align: center;
        cursor: pointer;
        opacity: 0;
        i {
            color: $color-white;
        }
    }
    .slick-prev.slick-arrow {
        left: -20px;
    }
    .slick-next.slick-arrow {
        right: -20px;
    }
}

/*------------------- About Us Page -------------------*/
/*----- About Us Section ------*/

.section-block-aboutSec {
    .section-element-aboutSec {
        padding: 70px 0px;
        @include breakpoint(x-normal) {
           padding: 50px 0px;
        }
        .sec-order {
           order: 2;
        }
        .sec-content {
            padding-right: 60px;
        }
        &:nth-child(even) {
            background: $color-grey;
        }
        .progress-sec {
            margin-bottom: 40px;
            @include breakpoint(x-normal) {
               margin-bottom: 20px;
            }
            h5 {
                font-weight: 500;
            }
            span {
                margin-left: 15px;
                font-size: 22px;
                color: $black;
                @include breakpoint(x-normal) {
                   font-size: 18px;
                }
            }
        }
        .progress {
            width: 600px;
            height: 35px;
            border: 1px solid #dadada;
            padding: 1px;
            border-radius: 4px;
            background: $color-white;
            float: left;
            @include breakpoint(x-normal) {
               width: 475px;
                height: 24px;
            }
            .progress-bar {
                border-radius: 4px;
            }
        }
        .progressSecOne {
            .progress-bar {
                background: linear-gradient(#c0ea3c, #ade025); 
            }
        }
        .progressSecTwo {
            .progress-bar {
                background:  linear-gradient(#fdde21, #f2ca2a); 
            }
        }
        .progressSecThree {
            .progress-bar {
                background: linear-gradient(#f27091, #e84b5f); 
            }
        }
        .progressSecFour {
            .progress-bar {
                background: linear-gradient(#1abce9, #009fe0); 
            }
        }
        .progressbarsec {
            padding-left: 50px;
        }
    }
}

/*----- Testimonial Section -----*/

.section-block-testimonial {
    @include background(center center, cover);
    padding: 60px 0px;
    text-align: center;
    @include breakpoint(x-normal) {
       padding: 40px 0px;
    }
    h2 {
        color: $color-white;
        margin-bottom: 60px;
        @include breakpoint(x-normal) {
           margin-bottom: 20px;
        }
    }
    .section-element-testimonial {
        h3 {
            color: $color-white;
            margin-bottom: 30px;
        }
        p {
            color: $color-white;
            width: 64%;
            margin: 0 auto;
            margin-bottom: 20px;
        }
        span {
            color: $color-white;
        }
    }
}

/*------------------- Blog Page -------------------*/
/*----- Blog Grid Section -----*/

.section-block-blogGrid {
    padding: 60px 0px;
    @include breakpoint(x-normal) {
        padding: 40px 0px;;
    }
    .blog-grid {
        border: 1px solid $border-color;
        padding: 40px;
        margin-bottom: 30px;
        @include breakpoint(x-normal) {
           padding: 20px;
        }
        &:last-child {
            margin-bottom: 0px;
        }
        .featured-thumb {
            @include background(center center, cover);
            height: 350px;
            margin-bottom: 30px;
            @include breakpoint(x-normal) {
               margin-bottom: 20px;
            }
        }
        h4 {
            margin-bottom: 12px;
            a {
                text-transform: capitalize;
            }
        }
        .read-more {
            position: relative;
            display: inline-block;
            vertical-align: middle;
            &:hover {
                &:after {
                    top: 0%;
                    opacity: 1;
                }
                &:after, &:before {
                    -webkit-transform: scale(1);
                    -moz-transform: scale(1);
                    transform: scale(1);
                   background: $black;
                }
            }
            &:before {
                position: absolute;
                top: 100%;
                left: 0;
                width: 100%;
                height: 1px;
                background: $color-red;
                content: '';
                -webkit-transition: -webkit-transform 0.3s;
                -moz-transition: -moz-transform 0.3s;
                transition: transform 0.3s;
                -webkit-transform: scale(0.85);
                -moz-transform: scale(0.85);
                transform: scale(0.85);
            }
            &:after {
                position: absolute;
                top: 100%;
                left: 0;
                width: 100%;
                height: 1px;
                background: $color-red;
                content: '';
                -webkit-transition: -webkit-transform 0.3s;
                -moz-transition: -moz-transform 0.3s;
                transition: transform 0.3s;
                -webkit-transform: scale(0.85);
                -moz-transform: scale(0.85);
                transform: scale(0.85);
            }
        }
    }
    &.blogSingle {
        .blog-grid {
            margin-bottom: 60px;
            @include breakpoint(x-normal) {
               margin-bottom: 30px;
            }
            h4 {
                text-transform: $text-capitalize;
            }
        }
        .leave-reply-form {
            h4 {
                text-transform: $text-capitalize;
                margin-bottom: 25px;
            }
            textarea.form-control {
                margin: 10px 0px 20px;
                @include breakpoint(x-normal) {
                   margin: 8px 0px 10px;
                }
            }
            .button {
                min-width: 250px;
                margin-bottom: 40px;
                line-height: 2.5;
                @include breakpoint(x-normal) {
                   min-width: 220px;
                }
            }
        }
    }
}

/*------------------- Sidebar Section -------------------*/

.section-element-sideBar {
    padding-left: 30px;
        @include breakpoint(x-normal) {
           padding-left: 15px;
        }
    .search-form{
        margin-bottom: 50px;
        @include breakpoint(x-normal) {
           margin-bottom: 30px;
        }
        input[type="search"] {
            padding: 0px 80px 0px 30px;
            background: transparent;
            border-color: $border-color;
            @include breakpoint(x-normal) {
               padding: 0px 80px 0px 20px;
            }
        }
        form {
            position: relative;
        }
        .search-submit {
            background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
            border: medium none;
            color: $color-red;
            min-width: inherit;
            position: absolute;
            top: 50%;
            right: 0px;
            transform: translateY(-50%);
            line-height: 2.5;
            width: 60px;
            border-radius: 0px;
            padding: 0px;
            &:before {
                content: "\f002";
                font-size: 15px;
                font-family: FontAwesome;
            }
            &:hover {   
                background: $color-red;
                color: $color-white; 
            }
        }
    }
    h4 {
        margin-bottom: 25px;
        text-transform: $text-capitalize;
        font-weight: 500;
    }
    .recent-post-grid {
        overflow: hidden;
        border-bottom: 1px solid $border-color;
        margin-bottom: 20px;
        padding-bottom: 20px;
        height: 115px;
        position: relative;
        &:last-child {
            border-bottom: none;
        }
        .featured-thumb {
            height: 94px;
            width: 93px;
            @include background(center center, cover);
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            @include breakpoint(x-normal) {
               height: 80px;
                margin-right: 15px;
            }
        }
        .content-sec {
            padding-left: 115px;
            width: 100%;
            .meta-info {
                margin-bottom: 10px;
                @include breakpoint(x-normal) {
                   margin-bottom: 5px;
                }
            }
            h5 {
                a {
                    color: $black;
                    font-size: 17px;
                    font-weight: 500;
                    @include breakpoint(x-normal) {
                       font-size: 14px;
                        line-height: 20px;
                    }
                    &:hover {
                        color: $color-red;
                    }
                }
            }
        }
    }
}

/*----------------------- Faq Section --------------------------*/

.status-tab-wrap {
    padding: 70px 0px;
     @include breakpoint(x-normal) {
       padding: 50px 0px;
    }
    .panel-default {
        border: 1px solid $border-color;
        margin-bottom: 20px;
        @include breakpoint(x-normal) {
           margin-bottom: 10px;
        }
        .panel-heading {
            position: relative;
            h5 {
                margin-bottom: 0px;
                padding: 15px 60px 15px 20px;
                 i {
                    position: absolute;
                    right: 15px;
                    bottom: 0;
                    top: 50%;
                    transform: translateY(-50%);
                     background: $color-red;
                     height: 35px;
                     width: 35px;
                     border-radius: 100%;
                     padding: 10px;
                     text-align: center;
                     color: $color-white;
                     @include breakpoint(x-normal) {
                        height: 30px;
                        width: 30px;
                        padding: 7px;
                    }
                }
                a {
                    color: $black;
                    display: inline-block;
                    font-size: 20px;
                    @include breakpoint(x-normal) {
                       font-size: 17px;
                    }
                    &:hover {
                        color: $color-red;
                    }
                }
            }
        }
        .panel-body {
            padding: 5px 20px;
        }
        &:last-child {
            margin-bottom: 0px;
        }
    }
}

/*---------------------Contactt Us Section ----------------------*/

.section-block-contactUs {
    padding: 70px 0px;
    h2 {
        font-size: 35px;
        @include breakpoint(x-normal) {
           font-size: 25px;
        }
    }
    .contact-info {
        margin-bottom: 50px;
        @include breakpoint(x-normal) {
           margin-bottom: 35px;
        }
        h4 {
            font-size: 22px;
            font-weight: 500;
            text-transform: $text-capitalize;
            margin-bottom: 20px;
            @include breakpoint(x-normal) {
               font-size: 18px;
            }
        }
        li {
            list-style: none;
            position: relative;
            margin-bottom: 20px;
            span {
                color: $black;
                &:first-child {
                    width: 18px;
                    margin-right: 20px;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    display: inline-block;
                    svg {
                        height: 100%;
                        width: 100%;
                        fill: $color-red;
                    }
                }
            }
            span:nth-child(2),
            a {
                padding-left: 30px;
                color: $black;
                display: inline-block;
                font-size: 17px;
                @include breakpoint(x-normal) {
                   font-size: 15px;
                }
            }
            a {
                &:hover {
                    color: $color-red;
                }
            }
        }
    }
    .section-element-contactUs {
        padding-left: 20px;
        @include breakpoint(x-normal) {
           padding-left: 10px;
        }
    }
    .section-element-leaveComment {
        form {
            .button {
                margin-bottom: 20px;
            }
            .codesec {
                input {
                    width: 44%;
                    display: inline-block;
                }
                span {
                    display: inline-block;
                }
            }
            .uploadtextfield {
                input[type="file"] {
                    opacity: 0;
                    position: relative;
                    left: -90px;
                }
                span {
                    font-size: 14px;
                    display: block;
                    margin-left: 20px;
                    &.btn-file {
                        color: #4d4d4d;
                        font-size: 16px;
                        margin-left: 0px;
                        &:before {
                            content: "\f0c6";
                            font-family: FontAwesome;
                            margin-right: 6px;
                        }
                    }
                }
            }
        }
    }
    .map-marker-section {
        width: 600px;
        height: 370px;
        iframe {
            display: block;
            height: 100%;
            width: 100%;
        }
    }
}

/*------------------------- Login Signup Section --------------------------*/

.section-block-login-signup {
    padding: 70px 0px;
    @include breakpoint(x-normal) {
       padding: 50px 0px;
    }
    .dealer-acc {
        margin-bottom: 30px;
        h2 {
            font-size: 35px;
            @include breakpoint(x-normal) {
               font-size: 25px;
            }
        }
        p {
            margin-bottom: 0px;
            color: $black;
        }
    }
    .login-form-wrap {
        overflow: hidden;
        .form-sec {
            background: #fafafa;
            padding: 40px 25px;
            float: left;
            width: 450px;
            &:first-child {
                margin-right: 50px;
            }
            h4 {
                margin-bottom: 12px;
                font-weight: 500;
            }
            .button {
                margin-top: 15px;
                min-width: 155px;
            }
        }
        .remember-sec {
            .forgot-pass {
                float: right;
                color: $black;
                position: relative;
                font-size: 16px;
                &:after {
                    content: "";
                    background: $black;
                    position: absolute;
                    bottom: 3px;
                    left: 0;
                    right: 0;
                    width: 100%;
                    height: 1px;
                }
                &:hover {
                    color: $color-red;
                    &:after {
                        background: $color-red;
                    }
                }
            }
        }
    }
}

/*------------- Portfolio List ---------------*/

#filters {
    margin: 40px 0px 50px;
    margin: 40px 0px 50px;
    @include breakpoint(x-normal) {
        margin-top: 30px;
    }
    text-align: center;
    li {
        list-style: none;
        display: inline-block;
        margin: 0 15px;
        position: relative;
        transition: all 0.3s ease-in-out 0s;
        cursor: pointer;
        span {
            font-size: 25px;
            color: $black;
            font-weight: 500;
            cursor: pointer;
             @include breakpoint(x-normal) {
               font-size: 18px;
            }
        }
        .active {
            &:after {
                content: "";
                background: $color-red;
                height: 2px;
                width: 100%;
                position: absolute;
                left: 0;
                right: 0;
                bottom: -7px;
                text-align: center;
                margin: 0 auto;
                transition: all 0.3s ease-in-out 0s;
            }
        }
        &:hover {
            &:after {
                content: "";
                background: $color-red;
                height: 2px;
                width: 100%;
                position: absolute;
                left: 0;
                right: 0;
                bottom: -7px;
                text-align: center;
                margin: 0 auto;
            }
        }
    }
}
#portfoliolist {
    .portfolio {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -o-box-sizing: border-box;
        display:none;
    }
    .gallery-grid-sec  {
        position: relative;
        margin-bottom: 30px;
        height: 300px;
        @include background(cover, center);
        @include breakpoint(x-normal) {
           height: 220px;
        }
        a {
            display: inline-block;
        }
        .gallery-grid-content  {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            text-align: center;
            background: rgba(0, 0, 0, 0.7);
            opacity: 0;
            transition: all 0.3s ease-in-out 0s;
            cursor: pointer;
            .overlay-holder {
                top: 50%;
                transform: translateY(-50%);
                position: absolute;
                text-align: center;
                left: 0;
                right: 0;    
            }
            a {
                display: inline-block;
            }
            h3 {
                position: relative;
                display: inline-block;
                transform: translateY(-50px);
                transition: all 0.3s ease-in-out 0s;
                a {
                    color: $color-white;
                    font-size: 30px;
                    text-transform: lowercase;
                    @include breakpoint(x-normal) {
                       font-size: 20px;
                    }
                    &:hover {
                        color: $color-red;
                    }
                }
                &:after {
                    content: "";
                    background: $color-red;
                    height: 3px;
                    width: 30%;
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: -18px;
                    text-align: center;
                    margin: 0 auto;
                }
            }
        }
        &:hover {
            .gallery-grid-content {
                opacity: 1;
            }
            h3 {
                transform: translateY(0px);
            }
        }
    }
}
	

/*----- Customize Your Product ------*/

.section-block-CustomizeProduct {
    padding: 50px 0px 70px;
    h2 {
        text-align: center;
        margin-bottom: 60px;
        font-weight: 500;
    }
    .choose-wrap {
        background: #f9f9f9;
        text-align: center;
        padding: 80px;
        position: relative;
        li {
            list-style: none;
            margin-bottom: 50px;
            &:last-child {
                margin-bottom: 0px;
            }
            @include breakpoint(x-normal) {
               margin-bottom: 30px;
            }
        }
        span {
            background: $color-blue;
            color: $color-white;
            display: inline-block;
            width: 120px;
            line-height: 2.4em;
            font-size: 24px;
            text-transform: $text-uppercase;
            font-weight: $font-weight-regular;
            position: absolute;
            left: 20px;
            top: -25px;
            @include breakpoint(x-normal) {
               font-size: 18px;
            }
        }
        h3 {
            margin-bottom: 60px;
            font-weight: 500;
        }
    }
    .choose-tab {
        padding-left: 35px;
        ul {
            margin-bottom: 30px;
            border-bottom: none;
            li {
                margin-right: 15px;
                cursor: pointer;
                display: inline-block;
                &:last-child {
                    margin-right: 0px;
                }
                @include breakpoint(x-normal) {
                   margin-right: 9px;
                }
                a {
                    padding: 0px;
                    border-radius: 0px;
                    border: none;
                    width: 125px;
                    text-align: center;
                    background: #f2f2f2;
                    font-size: 18px;
                    color: $black;
                    line-height: 2.5em;
                    display: inline-block;
                    &.active,
                    &:hover {
                        background: $color-red;
                        color: $color-white;
                    }
                    @include breakpoint(x-normal) {
                       width: 95px;
                        font-size: 16px;
                    }
                }
                &:first-child {
                    display: none;
                }
                &:last-child {
                    a {
                        background: $color-blue;
                        color: $color-white;
                        &:after {
                            content: "\f105";
                            font-family: FontAwesome;
                            margin-left: 10px;
                        }
                    }
                }
            }
        }
        .tab-pane {
            background: #f9f9f9;
            padding: 30px;
            p, span {
                color: $black;
            }
            h5 {
                font-size: 20px;
                @include breakpoint(x-normal) {
                    font-size: 16px;
                }
            }
            span {
                margin-bottom: 20px;
                display: inline-block;
            }
            li {
                list-style: none;
            }
            form {
                margin-left: 22px;
                .form-check {
                    label {
                        padding-left: 0px;
                    }
                }
            }
        }
    }
}

/*----- Shop Section -----*/

.section-element-product {
    padding-right: 25px;
}
.section-block-Shop {
    padding: 60px 0px;
    @include breakpoint(x-normal) {
        padding: 40px 0px;
    }
    h2 {
        margin-bottom: 60px;
        text-align: center;
        @include breakpoint(x-normal) {
            margin-bottom: 30px;
        }   
    }
    .product-gallery {
        text-align: center;
        margin-bottom: 50px;
        border: 1px solid $border-color;
        &:hover {
            .featured-thumb {
                a {
                    opacity: 1;
                }
            }
        }
        .featured-thumb {
            height: 293px;
            @include background(center center, cover);
            position: relative;
            cursor: pointer;
            @include breakpoint(x-normal) {
                height: 240px;
            }
            a {
                display: inline-block;
                position: absolute;
                right: 15px;
                top: 10px;
                font-size: 20px;
                color: $color-white;
                opacity: 0;
            }
        }
        .product-content {
            padding: 30px 10px;
            h5 {
                margin-bottom: 30px;
                display: block;
                @include breakpoint(x-normal) {
                    margin-bottom: 20px;
                } 
                a {
                    font-size: 21px;
                    color: $black;
                    font-weight: 500;
                    @include breakpoint(x-normal) {
                        font-size: 15px;
                    } 
                    &:hover {
                        color: $color-red;
                    }
                }
            }
            .shopbtn {
                background: #727272;
                line-height: 3em;
                border-radius: 50px;
                min-width: 200px;
                display: inline-block;
                border-color: #727272;
                font-size: 16px;
                color: $color-white;
                text-align: center;
                text-transform: $text-uppercase;
                @include breakpoint(x-normal) {
                    font-size: 14px;
                    min-width: 180px;
                } 
                &:hover {
                    background: $color-red;
                    border-color: $color-red;
                }
            }
        }
    }
}

/*----- Product Gallery List -----*/

.gallery-list {
    .product-gallery {
        position: relative;
        margin-bottom: 25px;
        .featured-thumb {
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            width: 300px;
            height: auto;
        }
        .product-content {
            text-align: left;
            padding: 30px 30px 30px 330px;
            p {
                display: block;
                margin-bottom: 30px;
            }
        }
    }
}

/*----- Sort Section -----*/

.product-top-bar {
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    margin-bottom: 20px;
    padding: 10px 0px;
    overflow: hidden;
    position: relative;
    .sort-wrap {
        display: inline-block;
    }
    .pagination-wrap {
        display: inline-block;
        text-align: right;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }
}

.sort-wrap {
    .sort-sec {
        display: inline-block;
        margin-right: 20px;
        vertical-align: middle;
       form {
            .form-group {
                margin-bottom: 0px;
            }
            label {
                display: inline-block;
                margin-right: 10px;
                font-weight: 500;
            }
           select.form-control {
                width: 125px;
                display: inline-block;
                padding: 0px 10px;
                background-image: url(../images/select-arrow1.png);
                background-position: 88% center;
                background-repeat: no-repeat;
               font-size: 14px;
            }
        } 
    }
    .list-grid {
        display: inline-block;
        vertical-align: middle;
        li {
            a {
                background: $color-red;
                color: $color-white;
                display: inline-block;
                width: 35px;
                height: 35px;
                text-align: center;
                font-size: 20px;
                padding: 3px;
                border: 1px solid $color-red;
                &:hover {
                    background: $color-white;
                    color: $color-red;
                }
            }
        }
    }
}

/*----- Pagination Section -----*/

.pagination-wrap {
    text-align: center;
    margin: 0 auto;
    .view-sec {
        display: inline-block;
        margin-right: 20px;
        vertical-align: middle;
        form {
            .form-group {
                margin-bottom: 0px;
            }
            label {
                display: inline-block;
                margin-right: 10px;
                font-weight: 500;
                margin-bottom: 0px;
            }
            select.form-control {
                width: 65px;
                height: 34px;
                display: inline-block;
                padding: 0px 10px;
                background-image: url(../images/select-arrow.png);
                background-position: 80% center;
                background-repeat: no-repeat;
                font-size: 14px;
                color: #575757;
            }
        }
    }
    .pagination-sec {
        display: inline-block;
        vertical-align: middle;
        li {
            a {
                border: 1px solid $border-color;
                height: 25px;
                width: 25px;
                display: inline-block;
                text-align: center;
                border-radius: 4px;
                color: $black;
                &.prev,
                &.next {
                    color: $color-red;
                }
                &:hover {
                    background: $color-red;
                    color: $color-white;
                }
            }
        }
    }
}

/*------ Shop Sidebar -----*/

.section-element-productSidebar {
    .border {
        border: 1px solid $border-color;
        margin-bottom: 25px;
        h5 {
            text-transform: $text-uppercase;
            font-weight: 500;
        }
    }
    .categories-wrap.border {
        padding-top: 20px;
    }
    .categories-wrap {
        h5 {
            padding: 0 20px;
            margin-bottom: 20px;
        }
        li {
            display: block;
            border-bottom: 1px solid $border-color;
            a {
                color: $black;
                font-size: 15px;
                text-transform: $text-capitalize;
                display: block;
                position: relative;
                color: #252525;
                padding: 8px 20px;
                &:after {
                    content: "\f105";
                    font-family: FontAwesome;
                    position: absolute;
                    right: 20px;
                    top: 50%;
                    transform: translateY(-50%);
                }
                &:hover {
                    color: $color-red;
                    padding-left: 10px;
                }
            }
            &:last-child {
                border-bottom: none;
            }
        }
    }
    .filter-price-wrap.border,
    .filter-color-wrap.border {
        padding: 20px;
    }
    .filter-price-wrap {
        overflow: hidden;
       .tooltip.top.in {
            opacity: 1;
        }
        h5 {
            margin-bottom: 15px;
        }
        a {
            display: inline-block;
            font-size: 16px;
            color: $color-white;
            background: #727272;
            line-height: 3em;
            min-width: 100%;
            text-align: center;
            border-radius: 50px;
            text-transform: $text-uppercase;
            &:hover {
                background: $color-red;
            }
        }
        form {
            margin-bottom: 15px;
            .slider {
                width: 100%;
                .slider-track {
                    background: $color-red;
                    opacity: 0.2;
                    height: 8px;
                    border-radius: 0;
                    box-shadow: none;
                    width: 100%;
                    .slider-selection {
                        background: #e0e0e0;
                    }
                }
                .slider-handle {
                    background: $color-red;
                    height: 14px;
                    width: 14px;
                    top: 2px;
                }
            }
            .value {
                overflow: hidden;
                b {
                    font-weight: 500;
                    font-size: 18px;
                    display: inline-block;
                    float: left;
                    width: 50%;
                    &:first-child {
                        text-align: left;
                    }
                    &:nth-child(2) {
                        text-align: right;
                    }
                }
            }
        }
    }
    .reset-all-filter {
        a {
            display: inline-block;
            background: $color-red;
            color: $color-white;
            font-size: 16px;
            line-height: 3.2em;
            min-width: 100%;
            text-align: center;
            border-radius: 50px;
            text-transform: $text-uppercase;
            border: 1px solid $color-red;
            &:hover {
                background: $color-white;
                color: $color-red;
            }
        }
    }
    .filter-color-wrap {
        .color-wrap {
            margin-bottom: 30px;
        }
        h5 {
            margin-bottom: 15px;
        }
         select.form-control {
            width: 100%;
            display: inline-block;
            padding: 0px 10px;
            background-image: url(../images/select-arrow2.png);
            background-position: 100% center;
            background-repeat: no-repeat;
            height: 48px;
            font-size: 16px;
            @include breakpoint(x-normal) {
                height: 45px;
            } 
        }
    }
}

/*----- Shop Detail -----*/

.section-shopSingle {
    padding: 70px 0px;
    @include breakpoint(x-normal) {
        padding: 50px 0px;
    }
    .product-gallerey {
        padding-right: 50px;
        .pad-left {
            padding-left: 10px;
        }
        .carousel-indicators {
            display: block;
            bottom: inherit;
            top: 0;
            li {
                width: 100%;
                height: 100%;
                margin-bottom: 15px;
                text-indent: inherit;
                border: 1px solid transparent;
                margin-left: 0px;
                a {
                    display: block;
                }
                .featured-thumb {
                    @include background(center center, cover);
                    height: 105px;
                    @include breakpoint(x-normal) {
                        height: 76px;
                    }
                }
                &.active {
                    border-color: $color-red;
                }
                &:last-child {
                    margin-bottom: 0px;
                }
            }
        }
        .carousel-item {
            img {
                width: 100%;
            }
        }
    }
    .product-content {
        h3 {
            font-size: 38px;
            font-weight: 500;
            margin-bottom: 20px;
             @include breakpoint(x-normal) {
                font-size: 30px;
                 margin-bottom: 10px;
            } 
        }
        p {
            margin-bottom: 20px;
        }
        ul {
            margin-bottom: 30px;
        }
        li {
            margin-right: 30px;
            &:last-child {
                margin-right: 0px;
            }
            .form-group {
                margin-bottom: 0px;
            }
        }
        .spinner {
            width: 115px;
            input {
                text-align: center;
                height: 40px;
            }
        }
        .input-group-btn-vertical {
            > .btn {
                display: block;
                float: none;
                width: 30px;
                max-width: 30px;
                min-width: 30px;
                height: 20px;
                text-align: center;
                position: relative;
                border-radius: 0;
                background: $color-red;
                border-color: $border-color;
                &:hover,
                &:focus {
                    box-shadow: none;
                    border: none;
                    border: 1px solid $border-color;
                }
            }
            i{
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 0;
                right: 0;
                font-size: 10px;
            }
        }
        select {
            width: 115px;
            padding: 0px 10px;
            font-size: 14px;
            padding: 0px 10px;
            background-image: url(../images/select-arrow.png);
            background-position: 88% center;
            background-repeat: no-repeat;
            color: #575757;
        }
        .add-Tocart {
            background: $color-red;
            border-color: $color-red;
            min-width: 220px;
            line-height: 2.2em;
            font-size: 16px;
            font-weight: 300;
            margin-bottom: 30px;
        }
        span {
            font-size: 15px;
            color: $black;
            font-weight: 500;
            display: block;
            margin-bottom: 30px;
        }
    }
    .row {
        &:first-child {
            margin-bottom: 50px;
        }
    }
    .input-group-btn-vertical {
        position: relative;
        white-space: nowrap;
        width: 30px;
        vertical-align: middle;
        display: table-cell;
    }
}


/*------ Product Tab -----*/

.product-tab {
    margin-bottom: 50px;
    @include breakpoint(x-normal) {
        margin-bottom: 35px;
    }
    .nav {
        background: #727272;
        overflow: hidden;
        li {
            a {
                border-radius: 0px;
                border: none;
                padding: 0px 30px;
                font-size: 20px;
                line-height: 3em;
                color: $color-white;
                &.active,
                &:hover {
                    background: $color-red;   
                    color: $color-white;
                }
                 @include breakpoint(x-normal) {
                    font-size: 16px;
                } 
            }
        }
    }
    .tab-content {
        background: #f5f5f5;
        padding: 45px 30px;
        margin-bottom: 40px;
         @include breakpoint(x-normal) {
            padding: 30px;
        } 
        h5 {
            font-size: 20px;
            font-weight: 500;
             @include breakpoint(x-normal) {
                font-size: 16px;
            } 
        }
        p {
            width: 85%;
            margin-bottom: 20px;
             @include breakpoint(x-normal) {
                font-size: 13px;
            } 
        }
        .table {
            width: 50%;
            background: $color-white;
            margin-bottom: 0px;
            border: 1px solid $border-color;
            thead {
                tr {
                    th {
                        width: 40%;
                        padding: 10px 30px;
                        border-left: none;
                        border-top: none;
                        border-bottom: 1px solid $border-color;
                        border-right: 1px solid $border-color;
                        font-weight: 500;
                        font-size: 18px;
                        font-family: $font-family-montserrat;
                        color: $black;
                    }
                }
            }
            tbody {
                padding: 20px 0px;
                tr {
                    td {
                        padding: 5px 30px;
                        border: none;
                        border-left: none;
                        border-top: none;
                        border-bottom: none;
                        border-right: 1px solid $border-color;
                        color: $black;
                        font-weight: 500;
                        font-size: 15px;
                        font-family: $font-family-montserrat;
                    }
                }
            }
        }
    }
}

/*----- Related Product ------*/

.product-gallery-wrap {
    position: relative;
    .slick-arrow {
        position: absolute;
        top: -65px;
        right: 0;
        background: #727272;
        height: 40px;
        width: 40px;
        border-radius: 4px;
        text-align: center;
        display: inline-block;
        padding: 7px;
        cursor: pointer;
        @include breakpoint(x-normal) {
            height: 30px;
            width: 30px;
            padding: 3px;
            top: -50px;
        }
        &.slick-prev {
            right: 50px !important;
            @include breakpoint(x-normal) {
                right: 40px !important;
            }
        }
        i {
            color: $color-white;
            font-size: 15px;
        }
        &.slick-disabled,
        &:hover {
            background: $color-red;
        }
    }
    h3 {
        display: inline-block;
    }
}
.related-product {
    h3 {
        font-weight: 500;
    }
    .product-gallery {
        text-align: center;
        border: 1px solid $border-color;
        margin-right: 20px;
        &:hover {
            .featured-thumb {
                a {
                    opacity: 1;
                }
            }
        }
        .featured-thumb {
            height: 293px;
            @include background(center center, cover);
            position: relative;
            cursor: pointer;
            @include breakpoint(x-normal) {
                height: 240px;
            }
            a {
                display: inline-block;
                position: absolute;
                right: 15px;
                top: 10px;
                font-size: 20px;
                color: $color-white;
                opacity: 0;
            }
        }
        .product-content {
            padding: 30px 10px;
            h5 {
                margin-bottom: 30px;
                display: block;
                @include breakpoint(x-normal) {
                    margin-bottom: 20px;
                } 
                a {
                    font-size: 21px;
                    color: $black;
                    font-weight: 500;
                    @include breakpoint(x-normal) {
                        font-size: 15px;
                    } 
                    &:hover {
                        color: $color-red;
                    }
                }
            }
            .shopbtn {
                background: #727272;
                line-height: 3em;
                border-radius: 50px;
                min-width: 200px;
                display: inline-block;
                border-color: #727272;
                font-size: 16px;
                color: $color-white;
                text-align: center;
                text-transform: $text-uppercase;
                @include breakpoint(x-normal) {
                    font-size: 14px;
                    min-width: 180px;
                } 
                &:hover {
                    background: $color-red;
                    border-color: $color-red;
                }
            }
        }
    }
}