/*---------------------------------------------------------------
6.0 Responsive
---------------------------------------------------------------*/

@media only screen and (min-width: 1500px) {
    .container {
        max-width: 1470px;
    }
}