//  Variables Sections  //

//Colors
$color-white: #ffffff;
$black: #000000;
$black-grey-clr: #39373b;
$color-orange: #f06126;
$color-grey: #f7f7f7;
$color-red: #ff141f;
$color-blue: #004e99;
$dark-grey: #2e3336;
$footer-text-clr: #c3c3c3;
$border-color: #e2e2e2;

//Font Family 
$font-family: 'Merriweather', serif;
$font-family-opensans: 'Open Sans', sans-serif;
$font-family-ethnocentric: 'ethnocentricregular';
$font-family-montserrat: 'Montserrat', sans-serif;

//Font Weight
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;
$font-weight-semibold: 600;

//Text Transform
$text-uppercase: uppercase;
$text-capitalize: capitalize;